<td style="border: 1px solid #FF9933;
  border-collapse: collapse;
  padding: 4px;
  background-color: #FFFFFF;"><%= link_to host, host_path(:id => host, :host => @url, :only_path => false, :protocol => SETTINGS[:require_ssl] ? "https://" : "http://") %>
</td>
