<td style="border: 1px solid #FF9933;
  border-collapse: collapse;
  padding: 4px;
  background-color: #FFFFFF;"><%= link_to host.name, host_path(:id => host.id, :host => @url, :only_path => false) %>
</td>
<td style="border: 1px solid #FF9933;
  border-collapse: collapse;
  padding: 4px;
  background-color: #FFFFFF;">
</td>
