<h2 class="headline"><%= _("<b>Foreman</b> Configuration Management Error Report").html_safe %></h2>
<div class="dashboard">
  <%= render :partial => 'error_states', :locals => {:logs => @report.logs} %>
  <br>
  <%= link_to _("For more information"), config_report_url(@report) %>
</div>
