<% # template jumpstart file to use with jumpstart CGI script %>
<% # this file is being used to generate the jumpstart profile, change with care. %>
<%# pikelly@blueyonder.cookies.uk %>

install_type <%= @install_type %>
partitioning explicit
<%=@partitioning%>
<% if @host.deployment.name == "Flash" -%>
archive_location nfs <%=@archive_location%>
<% else -%>
system_type <%= @system_type %>
cluster <%= @cluster %>
locale <%= @locale %>
<% end -%>
