install
<%= @mediapath %>
lang en_US.UTF-8
selinux --permissive
keyboard us
skipx
network --bootproto <%= @static ? "static" : "dhcp" %> --hostname <%= @host %>
rootpw --iscrypted <%= root_pass %>
firewall --service=ssh
authconfig --useshadow --enablemd5
timezone UTC
bootloader --location=mbr --append="nofb quiet splash=quiet" --md5pass=<%= root_pass %>
<% if @dynamic -%>
%include /tmp/diskpart.cfg
<% else -%>
<%= @host.diskLayout %>
<% end -%>
text
reboot

%packages --excludedocs --nobase
ntp
wget
@Core

<% if @dynamic -%>
%pre
<%= @host.diskLayout %>
<% end -%>

%post
logger "Starting anaconda <%= @host %> postinstall"

#changing to VT 3 that we can see whats going on....
/usr/bin/chvt 3
#update local time
echo "updating system time"
/usr/sbin/ntpdate -sub <%= @host.params["ntp-server"] || "ntp" %>
/usr/sbin/hwclock --systohc

# install epel if we can
<%= snippet 'epel' %>

# update all the base packages from the updates repository
yum -t -y -e 0 update

# and add the puppet package
yum -t -y -e 0 install puppet

echo "Configuring puppet"
cat > /etc/puppet/puppet.conf << EOF
<%= snippets "puppet.conf" %>
EOF

# Setup puppet to run on system reboot
/sbin/chkconfig --level 345 puppet on

# Disable most things. Puppet will activate these if required.
echo "Disabling various system services"
<% %w{autofs gpm sendmail cups iptables ip6tables auditd arptables_jf xfs pcmcia isdn rawdevices hpoj bluetooth openibd avahi-daemon avahi-dnsconfd hidd hplip pcscd restorecond mcstrans rhnsd yum-updatesd}.each do |service| -%>
  /sbin/chkconfig --level 345 <%= service %> off 2>/dev/null
<% end -%>

/usr/bin/puppet agent --config /etc/puppet/puppet.conf -o --tags no_such_tag --server <%= @host.puppetmaster %>  --no-daemonize

sync

# Inform the build system that we are done.
echo "Informing Foreman that we are built"
wget -q -O /dev/null --no-check-certificate <%= foreman_url %>
exit 0
