@import '../LoginPage/LoginPage.scss';

.external-logout {
  height: 100%;
  background-image: $background_image;
  background-size: contain;

  header {
    text-align: center;

    img.brand {
      margin-top: 62px;
      max-width: 360px;
      width: 70%;
    }

    .login-pf-caption {
      color: white;

      #title {
        font-weight: $caption_font_weight;
      }

      p {
        font-size: 14px;
        margin-top: 20px;
      }
    }
  }

  .login-pf-submit-button {
    margin: 40px auto;
    font-size: 20px;
    width: 250px;
  }
}
