<%
  concurrency = ENV['FOREMAN_DYNFLOW_CONCURRENCY'].to_s.strip
  queues = ENV['FOREMAN_DYNFLOW_QUEUES'].to_s.strip
  queues = 'default,remote_execution' if queues.empty?
  parsed_queues = queues.split(',').map(&:strip).reject(&:empty?).map do |queue_str|
    queue, priority = queue_str.split('@')
    [queue.strip, [priority.to_i, 1].max]
  end
%>
:concurrency: <%= concurrency.empty? ? 10 : concurrency %>
:queues:
<% parsed_queues.each do |queue, priority| %>
  - - <%= queue %>
    - <%= priority %>
<% end %>
