<% if (!bookmarks.empty?) -%>
<ul class='dropdown-menu'>
  <% for bookmark in bookmarks -%>
      <li><%= link_to_if_authorized bookmark.name, eval("hash_for_#{bookmark.controller}_path").merge(:search => bookmark.query) %></li>
  <% end -%>
</ul>
<% end -%>
