<% title_actions link_to("New Tenant", new_tenant_path) %>
<% title "Tenant configuration" %>
<div id="welcome">
  <p>Using the tenant system provides a way to group resources together for easy management. Tenants are particularly useful for Foreman installations where several customers or business units are managed with a single Foreman install. Tenants also work nicely in tandem with <%= link_to("locations", :controller => "locations", :action => "index") %>.</p>
</div>
