<% origin = @data.settings[:origin] %>
<h4 class="header">
  <% if origin %>
    <%= N_('Run Distribution Chart for %s') % origin %>
  <% else %>
    <%= N_('Run Distribution Chart') %>
  <% end %>
</h4>
<%= render_run_distribution(@data.hosts, :class => 'statistics-bar', :origin => origin) %>
