<% origin = @data.settings[:origin] %>
<h4 class="header">
  <% if origin %>
    <%= N_('Run Distribution Chart for %s') % origin %>
  <% else %>
    <%= N_('Run Distribution Chart') %>
  <% end %>
</h4>
<div id="run_distribution"></div>
<%= mount_react_component('ComponentWrapper', '#run_distribution', {
    component: 'BarChart', 
    componentProps: {
      data: get_run_distribution_data(@data.hosts, :origin => origin),
      xAxisLabel: _("Minutes Ago"),
      yAxisLabel: _("Number Of Clients"),
      config: 'small'
    }}.to_json) %>
