<h4 class="header">
  <%= n_("Run distribution in the last %s minute", "Run distribution in the last %s minutes", Setting[:configuration_interval]) % Setting[:configuration_interval] %>
</h4>
<%= render_run_distribution(@hosts, :class => 'statistics-bar') %>
