<% origin = @data.settings[:origin] %>
<h4 class="header">
  <% if origin %>
    <%= N_('Run Distribution Chart for %s') % origin %>
  <% else %>
    <%= N_('Run Distribution Chart') %>
  <% end %>
</h4>
<%= react_component('BarChart', {
      data: get_run_distribution_data(@data.hosts, :origin => origin),
      xAxisLabel: _("Minutes Ago"),
      yAxisLabel: _("Number Of Clients"),
      config: 'small'
    }) %>
