<h4 class="header">
  <%= _('Host Configuration Status') %>
</h4>
<ul>
  <%= render "dashboard/status_links" %>
  <h4 class="total"><%= _("Total Hosts: %s") % @data.report[:total_hosts] %></h4>
</ul>
