<%
  origin = @data.settings[:origin]
  widget_chart_id = "host_configuration_chart"
  widget_chart_id += "_#{origin.downcase}" if origin
%>
<h4 class="header">
  <% if origin %>
    <%= title = _('Host Configuration Chart for %s') % origin %>
  <% else %>
    <%= title = _('Host Configuration Chart') %>
  <% end %>
</h4>
<div class="host-configuration-chart">
  <%= react_component('DonutChart', get_overview(@data.report, origin: origin))%>
</div>
