<h4 class="header">
  <%= title = _('Host Configuration Chart') %>
</h4>
<%= render_overview(@data.report, :class => 'statistics-pie small', :custom_title => title) %>
<ul class="ui-helper-hidden">
  <%= render "dashboard/status_links" %>
</ul>
