<% title _('Realms') %>
<% title_actions(display_link_if_authorized(_("New Realm"), hash_for_new_realm_path),
                 documentation_button('4.3.9Realm')) %>
<div id="welcome">
  <p>
  <%= _("Foreman supports automatically creating realm entries for new hosts.  When a realm is selected for a host, Foreman contacts the relevant realm smart proxy to create an entry for the host and retrieve it's one-time registration password.").html_safe %>
  </p>
</div>
