<% title_actions link_to(_("New Realm"), new_realm_path) %>
<% title _("Realm Configuration") %>
<div id="welcome">
  <p>
  <%= _("Foreman supports automatically creating realm entries for new hosts.  When a realm is selected for a host, Foreman contacts the relevant realm smart proxy to create an entry for the host and retrieve it's one-time registration password.").html_safe %>
  </p>
</div>
