$tfm-local-font-path: '../fonts/';
$tfm-local-img-path:  '../images/';

$tfm-brand-primary-color: #005c7e;

$tfm-color-1: #0072a0;

$tfm-navbar-hover-gradient-start: #005b7e;
$tfm-navbar-hover-gradient-end: #006289;

$tfm-navbar-brand-color: $color-pf-white;
$tfm-navbar-brand-hover-color: $color-pf-white;

$tfm-breadcrumb-switcher-popover-max-height: 300px;
$tfm-breadcrumb-switcher-popover-max-width: 200px;
$tfm-breadcrumb-switcher-popover-min-width: 200px;
