<div class="fields">
  <% if (networks = compute_resource.networks).any? -%>
    <%= selectable_f f, :bridge, networks.map(&:name), { }, :class => "span2", :label => _("Network"),
                     :help_inline => remove_child_link("X", f, { :method => :'_delete', :title => _('remove network interface'), :class => 'label label-important' }) %>
  <% else -%>
    <%= text_f f, :bridge, :class => "span2", :label => _("Network"), :help_block => _("your libvirt host does not support interface listing, please enter here the bridge name (e.g. br0)"),
               :help_inline => remove_child_link("X", f, { :method => :'_delete', :title => _('remove network interface'), :class => 'label label-important' }) %>
  <% end -%>
</div>
