@import '../../../../common/variables.scss';

#data-toolbar {
  background-color: unset;
  @media (max-width: $header-max-width) {
    justify-content: flex-end;

    .header-tool-item-hidden-lg {
      display: none;
    }
  }
}

.pf-c-masthead__brand {
  padding-right: 15px;

  &:hover {
    text-decoration: none;
  }

  .pf-c-brand {
    height: 34px;
  }

  .navbar-brand-txt span {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  }
}
