<% title "Architecture - #{h @architecture.name}" %>

<p>
Currently used by <%= @architecture.hosts.count %> hosts
</p>

<p>
  <%= link_to "Edit", edit_architecture_path(@architecture) %> |
  <%= link_to "Destroy", @architecture, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", architectures_path %>
</p>
