<div id="welcome">
  <h2>Architecture configuration</h2>
  <p>
  Before you proceed to using Foreman you should provide information about one or more architectures.
  <p/>

  <p>
  Each entries represent a particular hardware architecture, most commonly <b>x86_64</b> or <b>i386</b>. Foreman has some support for
  the Solaris operating system family, which includes <b>sparc</b> based systems.
  </p>
  <p>
  Each architecture can also be associated with more than one operating system and a selector block is provided to allow you to select valid combinations.
  </p>
  <%= link_to "New architecture", new_architecture_path %>
</div>

