<td style="border: 1px solid #FF9933;
  border-collapse: collapse;
  padding: 4px;
  background-color: #FFFFFF;"><%= link_to system, system_path(:id => system, :system => @url.system, :port => @url.port, :only_path => false, :protocol => @url.scheme) %>
</td>
