<div class="fields">
  <% if (networks = compute_resource.networks).any? -%>
    <%= selectable_f f, :network, networks, { },
                     :class       => "span2",
                     :label       => "Network" %>
  <% end -%>
  <!-- change mac is not tested so disable for the first -->
  <%= text_f f, :mac, :hidden => newmachine, :disabled => true unless not !newmachine and f.object.respond_to? :mac%>
  <!-- change name is not tested so disable for the first -->
  <%= text_f f, :name, :disabled => true unless not !newmachine and f.object.respond_to? :name %>
  <% if interfacetypes.any? -%>
    <%= select_f f, :type, interfacetypes, :to_s, :to_s, { },
                     :disabled    => !newmachine,
                     :class       => "span2",
                     :id          => "interfacetypes",
                     :label       => "Interface Type",
                     :help_inline => remove_child_link("X", f, { :method => :'_delete', :title => _('remove network interface'), :class => 'label label-important' }) %>
  <% end -%>
</div>
