<div class="fields">
  <% if (networks = compute_resource.networks).any? -%>
    <%= select_f f, :type, compute_resource.nictypes, :last, :first, { },
                     :class       => "span2",
                     :label       => _('NIC type'),
                     :disabled    => !new
    %>
    <%= select_f f, :network, networks, :id, :name, { },
                     :class       => "span2",
                     :label       => _('Network'),
                     :disabled    => !new,
                     :help_inline => !new ? nil : remove_child_link("X", f, { :method => :'_delete', :title => _('remove network interface'), :class => 'label label-important' }) 
    %>
  <% end -%>
</div>
