<div class="fields">
  <%= selectable_f f, :datastore, vsphere_datastores(compute_resource), { }, :class => "span4 disable-unsupported", :label => _("Data store") %>
  <%= text_f f, :name, :class => "input-mini disable-unsupported", :label => _("Name") %>
  <%= text_f f, :size_gb,
             :class       => "input-mini disable-unsupported",
             :label => _("Size (GB)") %>
  <%= checkbox_f f, :thin, {
             :label => _("Thin provision"),
             :class => 'disable-unsupported',
             :help_inline => remove_child_link("X", f, { :method => :'_delete', :title => _('remove volume'), :class => 'label label-important disable-unsupported' })},
             true,
             false %>
</div>
