<div class="fields">
  <%= selectable_f f, :datastore,
             compute_resource.datastores.map {
               |ds| ["#{ds.name} (#{_('free')}: #{number_to_human_size(ds.freespace) if ds.freespace}, #{_('total')}: #{number_to_human_size(ds.capacity) if ds.capacity})", ds.name]
             },
             { },
             :class => "span2",
             :label => _("Data Store"),
             :disabled => !new %>
  <%= text_f f, :name, :class => "input-mini disable-unsupported", :label => "Name" %>
  <%= text_f f, :size_gb,
             :class       => "input-mini disable-unsupported",
             :label => _("Size (GB)") %>
  <%= checkbox_f f, :thin, {
             :label => _("Thin provision"),
             :class => 'disable-unsupported',
             :help_inline => remove_child_link("X", f, { :method => :'_delete', :title => _('remove volume'), :class => 'label label-important disable-unsupported' })},
             true,
             false %>
</div>
