<%= select_f f, :flavor_id, compute_resource.flavors, :id, :name, {}, {:label => _('Flavor'), :label_size => "col-md-2", :class => 'without_select2'} %>
<%
   arch ||= nil ; os ||= nil
   images = possible_images(compute_resource, arch, os)
%>

<div id='image_selection'>
  <%= select_f f, :image_id, images, :uuid, :name, {:include_blank => (images.empty? || images.size == 1) ? false : _('Please Select an Image')},
               {:disabled => images.empty?, :label => _('Image'), :label_size => "col-md-2", :class => 'without_select2'} %>
</div>
