<% title _("Hardware Models") %>

<% title_actions new_link(_("Create Model")) %>

<div id="models_table"></div>
<%= mount_react_component("ModelsTable", "#models_table") %>
<%= will_paginate_with_info @models %>
