<div class="fields">
  <%= select_f f, :system_group_id, SystemGroup.all, :id, :to_label, {:include_blank => true}, :label => _("SystemGroup") %>
  <%= select_f f, :environment_id, Environment.all, :id, :name, {:include_blank => true},
    :label => _("Environment"), :help_inline => link_to_remove_fields(_("remove"), f) %>
</div>
