<div class="fields">
  <%= text_f f, :name, :disabled => (not authorized_via_my_scope("host_editing", "edit_params")) %>
  <%= text_f f, :value, :class => "span7", :disabled => (not authorized_via_my_scope("host_editing", "edit_params")),
                :help_inline => link_to_remove_fields("remove", f) if authorized_via_my_scope("host_editing", "destroy_params") %>

  <%= f.hidden_field :nested %>
</div>
