<div id="parameters">
  <%= f.fields_for type do |builder| -%>
    <%= render "common_parameters/parameter", :f => builder %>
  <% end -%>
  <%= authorized_via_my_scope("host_editing", "create_params") ? link_to_add_fields('+ ' + _("Add Parameter"), f, type, "common_parameters/parameter") : "" %>
</div>
