{
  "presets": [
    "env",
    "react"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    "transform-object-assign",
    "syntax-dynamic-import"
  ],
  "env": {
    "test": {
      "presets": ["@theforeman/vendor-dev/babel.preset.js"],
      "plugins": ["dynamic-import-node"]
    },
    "storybook": {
      "presets": ["@theforeman/vendor-dev/babel.preset.js"]
    }
  }
}
