**/node_modules
public/webpack
.git
.bundle
~
db/*.sqlite3*
log/*.log
log/*.log.age
tmp/*
jenkins/reports/*
test/reports/*
db/schema.rb
db/openid-store
config/settings.yaml
config/ignored_environments.yml
config/settings.plugins.d
config/database.yml
config/initializers/local_secret_token.rb
config/initializers/encryption_key.rb
coverage/*
*.sw?
.idea
*.pyc
public/apipie-cache
public/assets
.DS_Store
foreman_client
doc/
.rbenv*
.rvmrc*
.ruby-version*
.ruby-gemset*
locale/*.mo
locale/*/*.edit.po
locale/*/*.po.time_stamp
locale/*/*.pox
locale/*/LC_MESSAGES
coverage/
extras/jumpstart
tags
_build
zeus.json
custom_plan.rb
pkg/
config/hooks
*.csv
vendor/ruby
.env*
package-lock.json
npm-debug.log
.vscode
.yo-rc.json
out*
.byebug_history
.gitignore
.dockerignore
.github/
docker-compose*.yml
Gemfile.lock
