{
  "plugins": ["@theforeman/foreman", "spellcheck"],
  "extends": "plugin:@theforeman/foreman/core",
  "rules": {
    "spellcheck/spell-checker": [
      "warn",
      {
        "comments": false,
        "identifiers": false,
        "strings": true,
        "lang": "en_US",
        "ignoreRequire": false,
        "skipWords": [
          "2xl",
          "4xl",
          "resize",
          "ampm",
          "auditable",
          "bool",
          "bootable",
          "btns",
          "candlepin",
          "centos",
          "checkbox",
          "clearbutton",
          "clearfix",
          "consts",
          "csrf",
          "csv",
          "datastore",
          "datastores",
          "datepicker",
          "datetime",
          "datetimepicker",
          "debian",
          "decrement", // should be removed once https://github.com/aotaduy/eslint-plugin-spellcheck/issues/67 is resolved.
          "devs",
          "donut",
          "dow",
          "dropdown",
          "dropdowns",
          "ec2",
          "erb",
          "fieldset",
          "fnc",
          "formatter",
          "fqdn",
          "func",
          "gettext",
          "glyphicon",
          "gridster",
          "href",
          "internets",
          "ip6",
          "javascript",
          "javascripts",
          "jed",
          "katello",
          "keybind",
          "keypress",
          "klasses",
          "lang",
          "ldap",
          "loc",
          "locs",
          "lsi",
          "menuitem",
          "monokai",
          "mousedown",
          "mouseup",
          "msg",
          "nailgun",
          "nat",
          "navitem",
          "netgroups",
          "networksurl",
          "nfs",
          "nonpersistent",
          "noopener",
          "noreferrer",
          "num",
          "operatingsystem",
          "orderable",
          "orgs",
          "ownfield",
          "paravirtual",
          "patternfly",
          "pficon",
          "poolsurl",
          "pqr",
          "ptable",
          "puppetclass",
          "puppetclasses",
          "qcow2",
          "rbt",
          "readonly",
          "redhat",
          "redux",
          "refetches",
          "rendering",
          "rhel",
          "safemode",
          "sbs",
          "scrollable",
          "scsi",
          "securityfailure",
          "sizex",
          "sizey",
          "storages",
          "stringified",
          "subcomponent",
          "subcomponents",
          "subnet",
          "subnets",
          "substate",
          "svg",
          "testoption",
          "testoption",
          "textarea",
          "textfield",
          "tfm",
          "timepicker",
          "timerdelay",
          "timeseries",
          "tlv",
          "tooltip",
          "turbolinks",
          "twipsy",
          "txt",
          "typeahead",
          "ubuntu",
          "uncheck",
          "unencrypted",
          "unmount",
          "unordered",
          "unprocessable",
          "unselect",
          "unstyled",
          "vms",
          "vmware",
          "vnc",
          "webpack",
          "wss",
          "xml",
          "xpi",
          "xyz",
          "yaml"
        ],
        "minLength": 3
      }
    ]
  }
}
