[submodule "vendor/plugins/ruby-net-ldap"]
	path = vendor/plugins/ruby-net-ldap
	url = git://github.com/innovationfactory/ruby-net-ldap.git
[submodule "vendor/plugins/acts_as_audited"]
	path = vendor/plugins/acts_as_audited
	url = git://github.com/collectiveidea/acts_as_audited.git
[submodule "vendor/plugins/will_paginate"]
	path = vendor/plugins/will_paginate
	url = git://github.com/mislav/will_paginate.git
[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails.git
[submodule "vendor/plugins/searchlogic"]
	path = vendor/plugins/searchlogic
	url = git://github.com/binarylogic/searchlogic.git
[submodule "vendor/plugins/google_visualr"]
	path = vendor/plugins/google_visualr
	url = git://github.com/ohadlevy/google_visualr.git
[submodule "extras/puppet"]
	path = extras/puppet
	url = git://github.com/ohadlevy/puppet-foreman.git
[submodule "vendor/plugins/has_many_polymorphs"]
	path = vendor/plugins/has_many_polymorphs
	url = git://github.com/fauna/has_many_polymorphs.git
[submodule "vendor/plugins/virt"]
	path = vendor/plugins/virt
	url = git://github.com/ohadlevy/virt.git
[submodule "vendor/plugins/jrails"]
	path = vendor/plugins/jrails
	url = git://github.com/aaronchi/jrails.git
[submodule "vendor/plugins/scoped_search"]
	path = vendor/plugins/scoped_search
	url = git://github.com/wvanbergen/scoped_search.git
