[submodule "vendor/plugins/active_scaffold"]
	path = vendor/plugins/active_scaffold
	url = git://github.com/activescaffold/active_scaffold.git
[submodule "vendor/plugins/ruby-net-ldap"]
	path = vendor/plugins/ruby-net-ldap
	url = git://github.com/innovationfactory/ruby-net-ldap.git
