*~
db/*.sqlite3
db/schema.rb
log/*
nbproject/*
tmp/*
config/settings.yaml
config/email.yaml
tftp
public/images/active_scaffold
public/javascripts/active_scaffold
public/stylesheets/active_scaffold
*.swp
