language: ruby
bundler_args: --without development console
before_install: ./extras/ci/setup.sh
before_script: bundle exec rake db:migrate && bundle exec rake db:migrate

rvm:
  - 1.8.7
#  - 1.9.2
#  - 1.9.3
branches:
  only:
    - develop
notifications:
  irc: "irc.freenode.org#theforeman"
