.buorg {
  position: absolute;
  position: fixed;
  z-index: 111111;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid #a29330;
  text-align: center;
  color: #000;
  animation: buorgfly 1s ease-out 0s;
  background-color: #fff;
  font-size: 14px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
