@import '~patternfly/dist/sass/patternfly/_color-variables.scss';

.masthead-icon {
  margin-top: -15px;
  padding-top: 5px;
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* IE */
@-ms-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Opera and prob css3 final iteration */
@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.blink-image {
  -moz-animation: blink normal 1s infinite ease-in-out; /* Firefox */
  -webkit-animation: blink normal 1s infinite ease-in-out; /* Webkit */
  -ms-animation: blink normal 1s infinite ease-in-out; /* IE */
  animation: blink normal 1s infinite ease-in-out; /* Opera and prob css3 final iteration */
}

.navbar-pf-vertical .nav {
  .nav-item-iconic .fa.blink-image {
    color: $color-pf-gold-200;
  }

  .nav-item-iconic:hover .fa.blink-image {
    color: $color-pf-gold-200;
  }
}
