.pf-gray-background {
  background: var(--pf-global--BackgroundColor--200);
}

.pf-c-page__main-section.pf-m-light.host-details-tabs-section {
  padding-left: 24px;
  .tab-width-138 {
    max-width: calc(
      100vw - 138px
    ); //These values may need to be increased for other browsers

    @media screen and (max-width: 767px) {
      max-width: calc(100vw - 64px);
    }
  }
  .tab-width-263 {
    max-width: calc(
      100vw - 263px
    ); //These values may need to be increased for other browsers

    @media screen and (max-width: 767px) {
      max-width: calc(100vw - 64px);
    }
  }
}

.host-details-header-section {
  .hostname-skeleton-rapper {
    .hostname-wrapper {
      display: inline-flex;
      max-width: 60%;
      margin-right: 8px;

      .hostname-truncate {
        text-overflow: ellipsis;
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
      }
    }
  }
}

.host-details-cards-section {
  .host-details-tab-item {
    .pf-c-card {
      height: 100%;
    }
  }
}
