.pf-gray-background {
  background: #f0f0f0;
}

.host-details-header-section {
  margin-left: -20px;
  margin-right: -20px;
  background: white;
}

.host-details-tab-item {
  padding: 18px;
  background: #f0f0f0;
  .pf-c-card {
    height: 100%
  }
}
