<div class="fields removable-item">
  <div class="form-group">
    <div class="remove-button">
      <% if new_vm %>
        <%= delete_child_link('X', f, { :method => :'_delete', :title => local_assigns[:remove_title], :class => 'label label-danger' }) %>
      <% end %>
    </div>
    <div>
      <%= yield  %>
    </div>
  </div>
</div>
