<%= select_f f, :flavor_id, compute_resource.flavors, :id, :to_label %>
<%
   arch ||= nil ; os ||= nil
   images = possible_images(compute_resource, arch, os)
-%>

<div id='image_selection'><%= select_f f, :image_id, images, :uuid, :name,{:include_blank => (images.empty? || images.size == 1) ? false : 'Please Select an Image'}, {:disabled => images.empty? } %></div>
<%= selectable_f f, :groups, compute_resource.security_groups, {}, { :multiple => true, :label => "Security Groups" } %>
<%= selectable_f f, :availability_zone, compute_resource.zones, {:include_blank => "No Preference"} %>

