<%= select_f f, :machine_type, compute_resource.flavors, :id, :name, {}, :label => _('Machine type') %>
<%
   arch ||= nil ; os ||= nil
   images = possible_images(compute_resource, arch, os)
%>
<div id='image_selection'>
  <%= select_f f, :image_id, images, :uuid, :name,
               { :include_blank => (images.empty? || images.size == 1) ? false : _('Please select an image') },
               { :disabled => images.empty?, :label => _('Image') } %>
</div>
<%= selectable_f f, :network, compute_resource.networks, :label => _('Network') %>
<%= checkbox_f f, :external_ip, :label => _('External IP') %>
