<% title @vm.name %>
<div class='span12'>
  <table class="table table-bordered table-striped">
    <tr><th colspan="2">Properties</th></tr>

    <%= prop :memory %>
    <%= prop :ipaddress %>
    <%= prop :cpus %>
    <%= prop :hypervisor %>
  </table>
</div>

