.statistics-charts-list-root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 20px;
  .chart-box {
    height: 312px;
    width: 280px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 312px;

    .card-pf-heading {
      -ms-flex: 0 0 30px;
      flex: 0 0 30px;
    }

    .card-pf-body {
      display: -ms-flexbox;
      display: flex;
      -ms-flex: 1;
      flex: 1;
      margin: 0;
    }
  }
}
