<div class='row'>
  <%= render "compute_resources_vms/show/#{@compute_resource.provider.downcase}" %>
</div>

<%
  all_actions = available_actions(@vm).push(
                  link_to(_("Back"), compute_resource_path(@compute_resource), :class => 'btn btn-default'))
  title_actions *all_actions
%>
