<div class='row'>
  <%= render "compute_resources_vms/show/#{@compute_resource.provider.downcase}" %>
</div>

<% title_actions *available_actions(@vm),
                  show_console_action(@vm.ready?,
                  link_to_if_authorized(_("Console"), hash_for_console_compute_resource_vm_path, {:disabled => @vm.nil? || !@vm.ready?, :class => "btn btn-info"})),
                  link_to(_("Back"), compute_resource_path(@compute_resource), :class=>'btn')
%>
