<div class='row'>
  <%= render "compute_resources_vms/show/#{@compute_resource.provider.downcase}" %>
</div>

<% title_actions *available_actions(@vm),
                  show_console_action(@vm.ready?,
                  link_to_if_authorized(_("Console"), hash_for_console_compute_resource_vm_path, {:disabled => @vm.nil? || !@vm.ready?, :class => "btn btn-info"})),
                  display_link_if_authorized(_("Associate VM"), hash_for_associate_compute_resource_vm_path(:compute_resource_id => @compute_resource, :id => @vm.id), :title=> _("Associate VM to a Foreman host"), :method => :put, :class=>"btn"),
                  link_to(_("Back"), compute_resource_path(@compute_resource), :class=>'btn')
%>
