<%= breadcrumbs(
    items:
    [
      {
        caption: _("Compute Resouces"),
        url: compute_resources_path
      },
      {
        caption: @compute_resource.name,
        url: compute_resource_path(@compute_resource)
      },
      {
        caption: _("VMs"),
        url: compute_resource_vms_path(@compute_resource)
      },
      {
        caption: @vm.name
      }
    ],
    switchable: false
) %>


<div class='row'>
  <%= render "compute_resources_vms/show/#{@compute_resource.provider.downcase}" %>
</div>

<%
  all_actions = available_actions(@vm)
  title_actions *all_actions
%>
