<div class='row'>
  <%= render "compute_resources_vms/show/#{@compute_resource.provider.downcase}" %>
</div>

<%=   title_actions(toolbar_action_buttons(vm_power_actions(@vm)),
                 vm_console(@vm),
                 display_link_if_authorized(_("Associate VM"), hash_for_associate_compute_resource_vm_path(:compute_resource_id => @compute_resource, :id => @vm.identity), :title=> _("Associate VM to a Foreman host"), :method => :put, :class=>"btn"),
                 display_delete_if_authorized(hash_for_compute_resource_vm_path(:compute_resource_id => @compute_resource, :id => @vm.identity)),
                 link_to(_("Back"), compute_resource_path(@compute_resource), :class=>'btn')
   )
%>
