@import "~@theforeman/vendor/scss/variables";

$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;

.row > .datepicker > div {
  display: block;
}

.bootstrap-datetimepicker-widget table td {
  vertical-align: inherit;
}

.timepicker-picker tr:nth-child(2) td {
  background-color: #def3ff !important;
}

.field-help {
  margin-right: -5px;
}
