<div class="fields">
  <%= selectable_f f, :bridge, compute_resource.networks.map(&:name), { }, :class => "span2", :label => "Network",
               :help_inline => remove_child_link("X", f, { :method => :'_delete', :title => 'remove network interface', :class => 'label important' }) %>
</div>