<div class="prepend-2 fields">
  <%= f.text_field :match, :class => "span-5", :title => "Valid match for this value"%>
  <%= f.text_field :value, :class => "span-3", :title => "Value" %>
  <%= remove_child_link "Remove", f, {:title => 'remove value'} %>
</div>
