<div class="fields">
  <%= text_f f, :match, :class => "xxlarge",
    :help_inline => popover("?", "You may use any attribute foreman knows about, fact etc for example: <br> domain = example.com <br> is_virtual = true", :class => "label notice")
  %>
  <%= text_f f, :value, :class => "xxlarge", :help_inline => remove_child_link("X", f, {:title => 'remove value'}) %>
</div>
