<% graphs = []
	graphs << ["pie", @os_count, "OS Distribution", 100, 95]
	graphs << ["pie", @arch_count, "Architecture Distribution", 460, 95]
	graphs << ["pie", @env_count, "Environments Distribution", 820, 95]
	graphs << ["pie", @cpu_count, "Num of Cpu's", 100, 275]
	graphs << ["pie", @model_count, "Hardware", 460, 275]
	graphs << ["pie", @klass_count, "Class Distribution", 820, 275]
	graphs << ["bar", [[@mem_free,@swap_free],[@mem_size,@swap_size]], "Average Memory Usage in Gb", 330, 370, [["Avg Memory", "Avg Swap"]]]
%>

        <script type="text/javascript" charset="utf-8">
            window.onload = function () {
		<%= graph(graphs) -%>
            };
        </script>

<div id="container" class="autoclear">
	<div class="graph" id="os"> </div>
	<div style="clear: both;"></div>
</div>

