<% content_for(:title, _("Smart Class Parameters")) %>
<div class="blank-slate-pf">
  <div class="blank-slate-pf-icon">
    <%= icon_text("info-circle", "", :kind => "fa") %>
  </div>
  <h1><%= _('Smart Class Parameters') %></h1>
  <p><%= _("Parameterized class support permits detecting, importing, and supplying parameters directly to classes which support it, via the ENC and depending on a set of rules (Smart Matchers).") %></p>
  <p><%= link_to _('Learn more about this in the documentation.'), documentation_url("4.2.5ParameterizedClasses")%></p>
</div>
