<div id="host-conflicts-modal" class="modal in fade" <%= display(false) %>>
  <div class="modal-header">
    <a href="#" class="close" data-dismiss="modal">&times</a>
    <h3>Conflicts have been detected</h3>
  </div>
  <div class="modal-body">
    <p>
    <%= _('The following entries were found conflicting with what foreman wanted to apply.') %>
    </p>

    <p>
    <%= _('Please review them carefully, if you are certain that they should be removed, please click on overwrite.') %>
    </p>

    <div class="alert alert-message alert-block base">
      <% conflict_objects(@host.errors).each do |obj| -%>
        <% @host.errors[obj].each do |e| -%>
          <li><%= e %></li>
        <% end -%>
      <% end -%>
    </div>

  </div>

  <div class="modal-footer">
    <a href="#" class="btn">ACK</a>
  </div>
</div>
