<div class="col-md-offset-3 col-md-8" id="host_aliases">
  <%= link_to_add_fields('+ ' + _("Add host alias"), f, :host_aliases, "hosts/host_alias", :target => '#host_aliases_table tbody') %>
  <table class="table" id="host_aliases_table">
    <thead class="white-header">
    <tr>
      <th class='col-md-3'></th>
      <th class='col-md-7'></th>
      <th class='col-md-2 ca'></th>
    </tr>
    </thead>
    <tbody>
      <%= f.fields_for :host_aliases do |builder| %>
        <%= render "hosts/host_alias", :f => builder %>
      <% end %>
    </tbody>
  </table>
</div>
