<table class="list">
  <tr>
    <th>Report Status</th>
    <th></th>
  </tr>
    <% report_summary.each do |name, value| -%>
        <tr class="<%= cycle("even", "odd") -%>">
      <td> <%= name %> </td>
      <% style = (name =~ /failed|failed_restart/ and value > 0) ? "label important" : ""-%>
      <td><p class="<%= style %>"> <%= value %> </p></td>
    </tr>
  <% end -%>
</table>
