<table class="table table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th><%= _('Report Status') %></th>
      <th></th>
    </tr>
  </thead>
    <% report_summary.each do |name, value| %>
    <tr>
      <td> <%= name %> </td>
      <% style = (name =~ /failed|failed_restart/ and value > 0) ? "label label-danger" : ""%>
      <td><p class="<%= style %>"> <%= value %> </p></td>
    </tr>
  <% end %>
</table>
