<table class="list">
  <tr>
    <th>Properties</th>
    <th></th>
  </tr>
  <% [["Domain", host.domain], ["IP Address", host.ip], ["Puppet Environment", host.environment], ["Host Architecture", host.arch],
    ["Host Operating System", host.os], ["Host Group", host.hostgroup]].each do |name,value| %>
    <tr class="<%= cycle("even", "odd") -%>">
      <td style="width: 240px;"><%= name %></td>
      <td><%= value %></td>
    </tr>
  <% end -%>
</table>
