<table id="properties_table" class="table table-bordered table-striped">
  <tr>
    <th colspan="2"><%= _('Properties') %></th>
  </tr>
  <% overview_fields(host).each do |name, value| %>
    <tr>
      <td><%= name %></td>
      <td><%= value %></td>
    </tr>
  <% end %>
</table>
