<div id="host-progress-modal" class="modal fade hide" >
  <div class="modal-header">
    <a href="#" class="close" data-dismiss="modal">&times</a>
    <h3><%= action_name %> In Progress</h3>
  </div>
  <div class="modal-body">
    <p id="tasks_progress"><%= action_name %> in progress.</p>
    <div class="progress progress-striped active" style="width: 400px;">
    <div class="bar" style="width: 0%;"></div>
    </div>
  </div>

  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">OK</a>
  </div>
</div>