<div id="host-progress" class="alert alert-message alert-block alert-success base in fade hide">
 <a class='close' href='#' data-dismiss='alert'>&times</a>
  <h3><%= action_name %> In Progress</h3>
  <p id="tasks_progress"><%= action_name %> in progress.</p>
  <div class="progress progress-striped active" style="width: 400px;">
    <div class="bar" style="width: 0%;"></div>
  </div>
</div>
