<div style="max-width: 600px">
<% if @host.registration_template %>
  <p><%= _('This host can be registered to Foreman by executing this command:') %></p>

  <%= react_component('CopyToClipboard', valueToCopy: "curl #{@host.registration_url} | bash") %>
<% else %>
  <p><%= _('This host can not be enrolled with Foreman as no registration template was set.') %></p>
<% end %>
</div>
