<% title "The following hosts are about to be changed" %>

<table class="list">
  <tr>
    <th> Name </th>
    <th> Hostgroup </th>
    <th> Environment </th>
  </tr>
  <% hosts.each do |host| -%>
    <tr class="<%= cycle("even", "odd") -%>">
      <td>
        <%= host.name %>
      </td>
      <td><%=h host.try(:hostgroup) %></td>
      <td><%=h host.try(:environment) %></td>
    </tr>
  <% end %>
</table>
