<h2>Cannot update <%= taxonomy.type %> to <%= taxonomy.name %> for the following hosts because of mismatch in settings</h2>
<br>
<ul>
  <% hosts.each do |host| %>
    <li><%= host %> </li>
  <% end %>
</ul>
