<% title(_("Edit %s") % @host) %>
<% host_breadcrumb %>

<% if SETTINGS[:unattended] %>
  <% title_actions(
      display_link_if_authorized((@host.managed? ? _("Unmanage host") : _("Manage host")),
                                  hash_for_toggle_manage_host_path(:id => @host.id).merge(:auth_object => @host, :permission => 'edit_hosts'),
                                  {:class => 'btn btn-default', :method => :put}),
      (display_link_if_authorized(_("Disassociate host"),
                                  hash_for_disassociate_host_path(:id => @host.id).merge(:auth_object => @host, :permission => 'edit_hosts'),
                                 {:class => 'btn btn-default', :method => :put}) if @host.compute?)
     )
  %>
<% end %>

<%# The next hidden div is a workaround for host redirect after a submit %>
<div class='hidden' id='hidden-host-name'><%= @host.name %></div>
<%= render :partial => 'hosts/form' %>
