<% if authorized? -%>
  <% title_actions multiple_actions_select, (link_to_if_authorized "New Host", hash_for_new_host_path) -%>
<% end -%>
</span>
<%= render 'list', :hosts => @hosts, :header => @title || "Hosts"  %>
