<%= render 'selected_hosts', :hosts => @hosts %>

<% form_tag submit_multiple_destroy_hosts_path do -%>
<%= submit_tag "DESTROY SELECTED HOSTS!" %></p>
<small>This might take a while, as all hosts, facts and reports will be destroyed as well</small>
<% end %>
