<% title(_("All Puppet Classes for %s") % @host) %>
<table class="<%= table_css_classes %>">
  <thead>
    <tr>
      <th><%= _("Class") %></th>
    </tr>
  </thead>
  <tbody>
    <% @host.classes_from_storeconfigs.each do |klass| %>
      <tr>
        <td><%= h klass %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'back', host_path(@host) %>
