<% title_actions link_to(_("New Host"), new_host_path)%>
<% title _("Hosts") %>
<div id="welcome">
  <p>
  <%= _("You don't seem to have any Hosts, for more information see") %>
  <%= link_to _("this page"), root_path %>
  </p>

  <p><%= _('This page will self destruct once data comes in.') %></p>
</div>
