<% title_actions link_to("New Host", new_host_path)%>
<div id="welcome">
  <h1>Hosts</h1>
  <p>
  You don't seem to have any Hosts, for more infomation see <%= link_to "this page", root_path %>
  </p>

  <p>This page will self destruct once data comes in.</p>
</div>
