<% title_actions link_to(_("New System"), new_system_path)%>
<% title _("Systems") %>
<div id="welcome">
  <p>
  <%= _("You don't seem to have any Systems, for more information see") %>
  <%= link_to _("this page"), root_path %>
  </p>

  <p><%= _('This page will self destruct once data comes in.') %></p>
</div>
