.auto_complete_input {
  width: 75%;
}
.ui-autocomplete-loading
{
    background: white url('../images/spinner.gif') right center no-repeat;
}

.auto_complete_clear{
    background: url('../images/ui-icons_6da8d5_256x240.png') center no-repeat;
    background-position: -80px -128px;
    padding: 1px 8px 0 8px;
    margin-left:-18px;
    margin-right: 2px;
}
.auto_complete_clear:hover {
    background: url('../images/ui-icons_217bc0_256x240.png') center no-repeat;
    background-position: -80px -128px;
}
.ui-autocomplete-completed {
    color: #aaa;
    font-weight: lighter;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}
.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}
.ui-autocomplete-error {
    color: red;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}

.bookmark{
    margin-bottom: -3px;
    margin-top: -2px;
}

html { height: 100%; overflow: auto;}
body { height: 100%;  }
#wrap { min-height: 100%; }
#main {padding-bottom: 38px; padding-top:60px; }



#footer {
  margin-top: -38px; /* negative value of footer height */
  height: 30px;
  border-top: #aaa 1px solid;
  color: #aaa;
  padding-top: 7px;
  text-align:center;
  vertical-align: bottom;
  clear:both;
}
#footer a { color: #000; text-decoration: none;}
#footer span {position: relative; left: 240px;}


th.underlined {
  text-decoration: underline
}

.half {
	width: 44%;
}

.logo {
  display: block;
  margin-bottom: -55px;
  padding-top: 10px;
}

.logo-text {
  margin-left: 55px;
  color: #fff;
}

.narrow-left {
    padding-left: 0px !important;
}
.narrow-right {
    padding-right: 0px !important;
}


#login-form {
  text-align: center;
  width: 390px;
  margin: 0 auto;
}

#login-form table {margin-top:2em; padding:1em; margin-left: auto; margin-right: auto; border: 2px solid #7f9bb1;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ECF0F3'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ECF0F3)); /* for webkit browsers */
background: -moz-linear-gradient(top,  #fff,  #ECF0F3); /* for firefox 3.6+ */
-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;}
#login-form tr td {border: 0px;}
#login-form label {font-weight: bold; color: #507ea1;}

.login-background{
 background: url(../images/foreman_large.png) no-repeat left top;
 height: 200px;
}

/***** Flash & error messages ****/
#errorExplanation, div.flash, .nodata {
  position: relative;
  top: -40px;
  padding: 4px 4px 4px 30px;
  margin-bottom: 12px;
  font-size: 1.1em;
  border: 2px solid;
}

div.flash {
  margin: 15px 15px 0 15px;
}
.base li {
  margin-left: 20px;
  list-style: none;
}

div.flash.error, #errorExplanation {
  background: url(../images/false.png) 8px 5px no-repeat;
  background-color: #ffe3e3;
  border-color: #dd0000;
  color: #550000;
}

div.flash.notice {
  background: url(../images/true.png) 8px 5px no-repeat;
  background-color: #dfffdf;
  border-color: #9fcf9f;
  color: #005f00;
}

.nodata {
  text-align: center;
  background-color: #FFEBC1;
  border-color: #FDBF3B;
  color: #A6750C;
}

#errorExplanation ul { font-size: 0.9em;}

/* rails error message */
.error-messages {
  background: #BC1C3D;
  border: 1px solid #900024;
  padding: 15px 30px;
  color: white;
  margin-bottom: 20px;
}
.error-messages h2 {
  color: white; margin-top: 0; padding-bottom: 0; font-size: 16px;
}
.error-messages li {margin-left: 20px; list-style: none;}

.field-with-errors input, .field-with-errors textarea, .field-with-errors select {border: 2px solid #BC1C3D;}

/* Tables */
table.list th { background: rgba(0, 0, 0, 0.08); }
table.list th a { color: #000; }
table.list tbody tr:hover { background-color: rgba(0, 0, 0, 0.08); }
table.list td {
  padding: 5px 5px 6px;
}

.odd {background-color:#f6f7f8;}
.even {background-color: #fff;}

.fieldWithErrors input,
.fieldWithErrors textarea,
.fieldWithErrors select {
  border: solid 1px #f00;
}
.statistics_pie.small{
  width: 290px;
  height: 250px;
}
.page_title{
  font-size: 20px;
  font-weight: bold;
  margin-top: -22px;

}
.host_chart{
  height: 320px;
  margin-bottom: 20px;
}

#hostclasses, .classes li, .classes li a {
  list-style-type: none;
  margin-right: 0.5em;
  text-decoration: none;
}

.classes ul {
  margin-left: 10px;
  margin-bottom: 0px;
}
.puppetclass a, .puppetclass li a, .selected_puppetclass a, .selected_puppetclass li a {
  color: #333;
  float: right;
  margin-right: 10px;
}

#title_action {
  float: right;
  margin-bottom: 18px;
  text-align: right;
}

#actions_dropdown {
  float: right;
    margin-left: 3px;
}

.imported_subnet, #settings li {
  list-style-type:none;
  padding:0 0 8px;
}
tr span.expander {background-image: url(../images/bullet_toggle_plus.png); padding-left: 8px; margin-left: 0; cursor: pointer;}
tr.open span.expander {background-image: url(../images/bullet_toggle_minus.png);}

/* text align left */
.la { text-align: left; }
/* text align right */
.ra { text-align: right; }
/* text align center */
.ca { text-align: center; }
/* float  right */
.fr { float: right; }
/* float left */
.fl { float: left; }

.magic-line { position: absolute; top: 0px; left: 0; width: 100px; height: 2px; background: red; }
.menu-dropdown {text-transform: capitalize;}

.fact_chart {
  height: 400px !important;
  width: 560px !important;
  padding: 0 !important;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
}

#confirmation-modal{
  width: 750px !important;
}
#confirmation-modal .modal-body{
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 300px;
  max-height: 500px;
}

.editable {
  background: url("../images/edit.png") no-repeat scroll 98% 6px transparent;
  cursor: pointer;
  padding: 4px 26px 4px 0px;
}
.editable:hover {
  background: url("../images/edit-hover.png") no-repeat scroll 98% 6px #F2F2F2;
}
.tab_error {
  background: #FAE5E3;
}
.smart_var_add_match {
  top: -47px;
  position: relative;
}

.action_btn{
  position: relative;
  top: -38px;
  right: 92px;
  float: right;
}

.user-filter fieldset legend{
  margin-left:-10px;
}

.pagination ul{ float: right;}
.modal-loading {
  position: relative;
  top: 50%;
  left: 50%;
}

/* vertical pills addition to bootstrap */
.tabs.vertical>li,.pills.vertical>li{float: none;}
.tabs.vertical{border-right:1px solid #ddd;border-bottom-color:transparent;width:24.5%;margin-top:6px;}.tabs.vertical>li>a{-webkit-border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;border-radius:4px 0 0 4px;margin-bottom:2px;margin-right:0;}.tabs.vertical>li>a:hover{border-color:#ddd #eee #ddd #ddd;}
.tabs.vertical>li.active>a{border:1px solid #ddd;border-right-color:transparent;}
.tabs.vertical +.tab-content{zoom:1;clear:none;display:table;padding:15px;width:75%;}.tabs.vertical +.tab-content:before,.tabs.vertical +.tab-content:after{display:table;content:"";zoom:1;*display:inline;}
.tabs.vertical +.tab-content:after{clear:both;}
.pills.vertical{float:left;}.pills.vertical a{margin:5px 3px 5px 3px;}
.pills.vertical +.tab-content{zoom:1;clear:none;float:left;display:table;padding:15px;}.pills.vertical +.tab-content:before,.pills.vertical +.tab-content:after{display:table;content:"";zoom:1;*display:inline;}
.pills.vertical +.tab-content:after{clear:both;}
.pills.vertical:parent{clear:both;}

.fixed-width{table-layout:fixed;}
select{padding: initial;}

[class*="tbl-column"]{ overflow: hidden; white-space: nowrap; padding: 0;}
table th.small{width:60px; max-width:60px;}
.tbl-column1{width:40px; max-width:40px;}
.tbl-column2{width:100px; max-width:100px;}
.tbl-column3{width:160px; max-width:160px;}
.tbl-column4{width:220px; max-width:220px;}
.tbl-column5{width:280px; max-width:280px;}
.tbl-column6{width:340px; max-width:340px;}
.tbl-column7{width:400px; max-width:400px;}
