body {
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  color:#484848;
  margin: 0;
  padding: 0;
  background-color: #E6DFCF;
}

h1 {
  font-variant:small-caps;
  font-size:18px;
  padding:0;
  margin:0;
}

a img {
  border: none;
}

a {
  color: #0000FF;
}


th.underlined { 
  text-decoration: underline 
}
a:link, a:visited {
  color: #507EA1;
}
a:active {
  color: #3082BF;
}

input { 
  margin-bottom: 1px;
}
p { 
  line-height: 130%;
}
#header {height:3.5em;background-color:#406480;color:#E6DFCF; position:relative;}

#header a {
  float:right;
  margin-right: 0.5em;
  color: #CFDCE6;
  height:1.8em;
  font-size: 0.8em;
}

#header .title {
  color:#FFFAFA;
  font-variant:small-caps;
  font-weight: bold;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  font-size: 130%;
}

#menu ul {
  margin: 0; padding: 0;
  list-style: none;
  float: left;
  width: 960px;
}

#menu li {
  float:left;
  list-style-type:none;
}
#menu li a {
  font-variant: small-caps;
  float:left;
  color: #fff;
  text-decoration: none;
  padding: 4px 10px 4px 10px;
  height:1.2em;
  font-size: 100%;
}
#menu li a:hover {background:#759FCF; color:#fff;}
#menu li a:active {background:#fff; color:#555;}

#content {
  position:relative;
  float: center;
  padding: 1%;
  margin: 0 auto;
  clear: both;
}
#content h3 {
  margin-top: 15px;
}

#footer {
  clear: both;
  border-top: 1px solid #bbb;
  font-size: 0.9em;
  padding: 5px;
  text-align:center;
  background: #E6C373;
  color: #806C40;
  margin-top: 1em;
}

#login-form {text-align: center;}
#login-form table {margin-top:2em; padding:1em; margin-left: auto; margin-right: auto; border: 2px solid #FDBF3B; background-color:#FFEBC1; }
#login-form table td {padding: 6px;text-align: center;}
#login-form label {font-weight: bold;}


/***** Flash & error messages ****/
#errorExplanation, div.flash, .nodata, .warning {
  padding: 4px 4px 4px 30px;
  margin-bottom: 12px;
  font-size: 1.1em;
  border: 2px solid;
}

div.flash {margin-top: 24px;}

div.flash.error, #errorExplanation {
  background: url(../images/false.png) 8px 5px no-repeat;
  background-color: #ffe3e3;
  border-color: #dd0000;
  color: #550000;
}

div.flash.notice {
  background: url(../images/true.png) 8px 5px no-repeat;
  background-color: #dfffdf;
  border-color: #9fcf9f;
  color: #005f00;
}

.nodata, .warning {
  text-align: center;
  background-color: #FFEBC1;
  border-color: #FDBF3B;
  color: #A6750C;
}

#errorExplanation ul { font-size: 0.9em;}

/* rails error message */
.error-messages {
  background: #BC1C3D;
  border: 1px solid #900024;
  padding: 15px 30px;
  color: white;
  margin-bottom: 20px;
}
.error-messages h2 {
  color: white; margin-top: 0; padding-bottom: 0; font-size: 16px;
}
.error-messages li {margin-left: 20px; list-style: square;}

.field-with-errors input, .field-with-errors textarea, .field-with-errors select {border: 2px solid #BC1C3D;}


/* Tables */

table.list { border: 1px solid #e4e4e4;  border-collapse: collapse; width: 100%; margin:1em auto;}
table.list th { 
  text-decoration:none;
  text-align:left;
  background:#555555;
  color:#FFFFFF;
}
table.list th p {
  display:block;
  font:bold 11px arial,sans-serif;
}
table.list th a, th a:visited {
  padding:2px 15px 2px 5px;
  color:#FFFFFF;
}

table.list td, th { line-height:1.3em; }
table.list td { vertical-align: top; border: 1px #eeeeee solid; padding: 4px }
table.list td.id { width: 2%; text-align: center;}
table.list td.checkbox { width: 15px; padding: 0px;}
table.list tbody tr:hover { background-color:#ffffaa; }
table.list caption {
  text-align: center;
  font-size: 125%;
  padding: .75em;
  color: #000;
}

table td {padding:2px;}
table p {margin:0;}
.odd {background-color:#f6f7f8;}
.even {background-color: #fff;}

.fieldWithErrors input.text-input,
.fieldWithErrors select,
.fieldWithErrors {
  border: solid 1px #f00;
}

/* host show page */ 
#title, td.last_row { font-weight: bold; }

#host_actions {
  float: right;
  font-size: 70%;
}

#host_overview {
  float:right;
  width:30%
}
#host_overview table { border: 1px solid #ccc; }

#host_overview table th{ text-align: left; }

.pagination { float: right }

#host_report {
  border-bottom: 1px solid #ccc; 
  float: left;
  width:70%
}
#border-it { border: 2px solid #ddd; }

div#dashboard {
  text-align: center;
  position: relative;
}
div#overview {
  position: absolute;
  right: 0;
  top: 20px;
  width: 30%
}
div#run_distribution {
  position: absolute;
  top: 20px;
  left: 0;
  width: 30%
}

#hostclasses, #classes li {
  list-style-type:none;
  margin-right: 0.5em;
}

#classes .puppetclass a {
  font-size: 75%;
  color: #333;
}

#content .title_action {
  position: absolute;
  top: 1em;
  right: 1em;
}
#searchbar ul {
	margin: 0; padding: 0;
	list-style: none;
	float: left;
	width: 100%;
	background-color: #ffffff;
}

#searchbar li {
  float:left;
  padding-right: 4px;
  list-style-type:none;
}
#searchbar li .selectedtab {
  padding-right: 4px;
	background-color:#e4e4e4;
}

#searchbar li a.close{
	color: red;
	padding-left: 1px;
	padding-top: 1px;
	padding-bottom: 7px;
  text-decoration: none;
}
#searchbar li a {
  display: block;
  float:left;
  color: #484848;
  font-weight: bold;
  margin: 0;
  padding: 4px 4px 4px 10px;
}
/* Maybe someone else can ge ths hovering to work esthetically
#searchbar li a:hover {background:#759FCF; color:#fff;}
#searchbar li a.active, li a.selected:hover {background:#fff; color:#555;}

#searchbar li a.close:hover {background:#e4e4e4; color:red;}
#searchbar li a.active, li a.selected:hover {background:#fff; color:#555;}
*/
.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#settings li {
  list-style-type:none;
  padding:0 0 8px;
}
