.auto_complete_input {
  width: 98%;
  margin-right: -12px;
}

.ui-autocomplete-loading
{
    background: white url('../images/spinner.gif') right center no-repeat;
}

.auto_complete_clear{
    background: url('../images/ui-icons_888888_256x240.png') center no-repeat;
    background-position: -80px -128px;
    display:inline-block;width:12px;height:12px;
    margin-left:-8px;
}
.auto_complete_clear:hover{
    background: url('../images/ui-icons_454545_256x240.png');
    background-position: -80px -128px;
}

.ui-autocomplete-completed {
    color: #aaa;
    font-weight: lighter;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}
.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}
.ui-autocomplete-error {
    color: red;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}


html { height: 100%; overflow: auto;}
body { height: 100%;  }
#wrap { min-height: 100%; }
#main {padding-bottom: 38px; padding-top:60px; }



#footer {
  margin-top: -38px; /* negative value of footer height */
  height: 30px;
  border-top: #aaa 1px solid;
  color: #aaa;
  padding-top: 7px;
  text-align:center;
  vertical-align: bottom;
  clear:both;
}
#footer a { color: #000; text-decoration: none;}
#footer span {position: relative; left: 240px;}


th.underlined {
  text-decoration: underline
}

.half {
	width: 44%;
}

.logo {
  display: block;
  margin-bottom: -55px;
  padding-top: 10px;
}

.logo-text {
  margin-left: 55px !important;
}

.narrow-left {
    padding-left: 0px !important;
}
.narrow-right {
    padding-right: 0px !important;
}


#login-form {
  width: 390px;
  margin: 0 auto;
}

#login-form label {
  font-size: 1.23em !important;
  display: block;
  font-weight: bold; color: #507ea1;
}

#login-form input[type="password"], #login-form input[type="text"] {
  font-size: 20px;
  height: 32px;
  width: 380px;
}

#login-form {margin-top:0em; padding:6em 2em; margin-left: auto; margin-right: auto; border: 2px solid #7f9bb1;
-moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;
background: url(../images/foreman_background.png) no-repeat right center;
}

.login-large-logo{
 margin-left: auto; margin-right: auto;
 display: block;
 margin-bottom: -30px;
 margin-top: -30px;
 padding-right: 170px;
}

/***** Flash & error messages ****/
#errorExplanation, div.flash, .nodata {
  position: relative;
  top: -40px;
  padding: 4px 4px 4px 30px;
  margin-bottom: 12px;
  font-size: 1.1em;
  border: 2px solid;
}

div.flash {
  margin: 15px 15px 0 15px;
}
.base li {
  margin-left: 20px;
  list-style: none;
}

div.flash.error, #errorExplanation {
  background: url(../images/false.png) 8px 5px no-repeat;
  background-color: #ffe3e3;
  border-color: #dd0000;
  color: #550000;
}

div.flash.notice {
  background: url(../images/true.png) 8px 5px no-repeat;
  background-color: #dfffdf;
  border-color: #9fcf9f;
  color: #005f00;
}

.nodata {
  text-align: center;
  background-color: #FFEBC1;
  border-color: #FDBF3B;
  color: #A6750C;
}

#errorExplanation ul { font-size: 0.9em;}

/* rails error message */
.error-messages {
  background: #BC1C3D;
  border: 1px solid #900024;
  padding: 15px 30px;
  color: white;
  margin-bottom: 20px;
}
.error-messages h2 {
  color: white; margin-top: 0; padding-bottom: 0; font-size: 16px;
}
.error-messages li {margin-left: 20px; list-style: none;}

.field-with-errors input, .field-with-errors textarea, .field-with-errors select {border: 2px solid #BC1C3D;}

.odd {background-color:#f6f7f8;}
.even {background-color: #fff;}

.fieldWithErrors input,
.fieldWithErrors textarea,
.fieldWithErrors select {
  border: solid 1px #f00;
}
.statistics_pie.small{
  width: 280px;
  height: 250px;
}
.page_title{
  font-size: 20px;
  font-weight: bold;
  margin-top: -22px;

}
.host_chart{
  height: 320px;
  margin-bottom: 20px;
}

#hostclasses, .classes li, .classes li a {
  list-style-type: none;
  margin-right: 0.5em;
  text-decoration: none;
}

.classes ul {
  margin-left: 10px;
  margin-bottom: 0px;
}
.puppetclass a, .puppetclass li a, .selected_puppetclass a, .selected_puppetclass li a {
  color: #333;
  float: right;
  margin-right: 10px;
}

#title_action {
  margin-top: -9px;
}

#actions_dropdown {
  float: right;
    margin-left: 3px;
}

#settings li {
  list-style-type:none;
  padding:0 0 8px;
}
tr span.expander {background-image: url(../images/bullet_toggle_plus.png); padding-left: 8px; margin-left: 0; cursor: pointer;}
tr.open span.expander {background-image: url(../images/bullet_toggle_minus.png);}

/* text align left */
.la { text-align: left; }
/* text align right */
.ra { text-align: right; }
/* text align center */
.ca { text-align: center; }
/* float  right */
.fr { float: right; }
/* float left */
.fl { float: left; }

.magic-line { position: absolute; top: 0px; left: 0; width: 100px; height: 2px; background: red; }
.menu-dropdown {text-transform: capitalize;}

.fact_chart {
  height: 400px !important;
  width: 560px !important;
  padding: 0 !important;
  text-align: center;
  font-weight: bold;
  overflow: hidden;
}

#confirmation-modal{
  width: 750px !important;
}

#confirmation-modal .modal-body{
  overflow-y: auto;
  overflow-x: hidden;
  min-height: 300px;
  max-height: 500px;
}

#host-conflicts-modal {
  width: 650px !important;
}

.editable {
  background: url("../images/edit.png") no-repeat scroll 98% 6px transparent;
  cursor: pointer;
  padding: 4px 26px 4px 0px;
}
.editable:hover {
  background: url("../images/edit-hover.png") no-repeat scroll 98% 6px #F2F2F2;
}
.tab-error {
  color: #b94a48 !important;
}
.smart_var_add_match {
  top: -47px;
  position: relative;
}

.action_btn{
  position: relative;
  top: -38px;
  right: 92px;
  float: right;
}

.pagination ul{ float: right;}
.modal-loading {
  position: relative;
  top: 50%;
  left: 50%;
}

select{padding: initial;}

.gray{
    color:#808080 !important;
}

.stats-grid{
    float:left;margin:0 0 20px 20px;border:1px solid #ddd;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075);-moz-box-shadow:0 1px 1px rgba(0, 0, 0, 0.075);box-shadow:0 1px 1px rgba(0, 0, 0, 0.075);
}
.stats-grid:hover{
    border-color:#0069d6;-webkit-box-shadow:0 1px 4px rgba(0, 105, 214, 0.25);-moz-box-shadow:0 1px 4px rgba(0, 105, 214, 0.25);box-shadow:0 1px 4px rgba(0, 105, 214, 0.25);
}

table .span0{float:none;width:20px;margin-left:0;}
#Submit_multiple{ margin-bottom: 0px !important;}

.inputs-list{
margin-left:0;margin-bottom:18px;list-style:none;display: inline;
}

.table th{background: rgba(0, 0, 0, 0.08);}

.delete{color: #b94a48 !important;}

.setting_value form { margin: 0 !important;}
.form-actions{
    background-color: #f5f5f5;
}

.ignore-subnet{margin-right: 10px;margin-top: -25px;float: right;}
.tabs-left .nav-tabs>li>a.btn:hover{background:inherit;background-color: #408140;}
