<div class="fields">
  <div class="row form-group">
    <div class="col-sm-3">
      <%= f.collection_select :fact_name_id, FactName.no_timestamp_fact, :id, :name, {}, :class => "form-control" %>
    </div>
    <div class="col-sm-2">
      <%= f.select :operator, %w{= !=  > >= < <= }, {}, :class => "form-control" %>
    </div>
    <div class="col-sm-5">
      <%= f.text_field :criteria, :class=>"form-control" %>
    </div>
    <%= authorized_for(:controller => params[:controller], :action => params[:action]) ? link_to_remove_fields('', f, :class=>'btn') : '' %>
  </div>
</div>
