<% f.fields_for :user_facts do |builder| -%>
  <%= render "user_fact", :f => builder %>
<% end -%>
<p><%= authorized_for(params[:controller], params[:action]) ? link_to_add_fields("+", f, :user_facts, "user_fact") : "Add a fact filter" %></p>
