<div class="fields">
  <div class="row">
    <div class="span3">
      <%= f.collection_select :fact_name_id, FactName.no_timestamp_fact, :id, :name, {}, :class => "medium" %>
    </div>
    <div class="span2">
      <%= f.select :operator, %w{= !=  > >= < <= }, {}, :class => "input-small" %>
    </div>
    <div class="span5">
      <%= f.text_field :criteria %>
      <%= authorized_for(params[:controller], params[:action]) ? link_to_remove_fields("remove", f) : "" %>
    </div>
  </div>
</div>
