<div class="col-sm-5 col-md-6 col-lg-7 details">
  <p><strong><%= _("Welcome to Foreman") %></strong>
  <p id="version"><%= _("Version %{version}") % {:version => SETTINGS[:version]} %></p>
  <p id="login_text"><%= Setting[:login_text] %></p>
</div><!--/.col-*-->
