<div id="login" class="login-container">
  <div class="aside">
    <%= image_tag("foreman_white.png", :class=>"login-logo") %>
  </div>
  <div class="section">
    <a href="/users/extlogin">Please log in again.</a>
  </div>
</div>
