<% content_for(:title, _("Logout")) %>

<div id="login" class="container">
  <div class="row">
    <div class="col-sm-12">
      <div id="brand">
        <%= image_tag("login_logo.png") %>
      </div><!--/#brand-->
    </div>
    <div class="col-sm-7 col-md-6 col-lg-5 login">
      <div class="form-group">
        <div class="col-xs-offset-8 col-xs-4 submit">
          <%= link_to(_("Click to log in again."), extlogin_users_path, :class => "btn btn-primary") %>
        </div>
      </div>
    </div>
    <%= render 'welcome_box' %>
  </div>
</div>
