<div class="login-background"></div>
<div id="login-form">
  <% form_tag({:action=> "login"}) do %>
    <table>
      <tr>
        <td align="right"><label for="login">Username:</label></td>
        <td align="left"><%= text_field 'login','login' %></td>
      </tr>
      <tr>
        <td align="right"><label for="password">Password:</label></td>
        <td align="left"><%= password_field 'login','password' %></td>
      </tr>
    <tr>
      <td align="left">
        <input type="submit" value="Login &#187;" id="login" class="btn primary"/>
      </td>
    </tr>
  </table>
<% end %>
<%= javascript_tag '$("#login_login").focus();' %>
<%= javascript_tag '$(".logo, .logo-text").hide();' %>
</div>
