<tr class="fields">
  <td>
    <%= f.text_field(:key, class: "form-control", disabled: !new_vm, placeholder: _("Key")) %>
  </td>
  <td>
    <%= f.text_field(:value, class: "form-control", disabled: !new_vm, placeholder: _("Value")) %>
  </td>
  <% if new_vm %>
    <td>
      <%= link_to_remove_fields(_('Remove'), f, title: _('Remove tag')) %>
    </td>
  <% end %>
</tr>
