.ace_content {
  font-family: monospace !important;
}

.mask-editor {
  .ace_content {
    font-family: 'AllBullets', monospace;
  }
}

.popover-content {
  padding: 2px;

  .dropdown {
    text-align: center;
    margin-bottom: 5px;

    button {
      color: #1e1d24;
    }

    #settings-dropdown {
      min-width: unset;
    }
  }
}

#editor-modal{
  margin: 15px;
  max-width: unset;

  .pf-v5-c-modal-box__body{
    padding: 0;
  }

  .pf-v5-c-modal-box__header{
    margin-right: 0;
    padding-top: 0;
    min-height: 44px;
  }

  .pf-v5-c-button.pf-m-plain{
    top: -18px;
  }

  &.monokai:not(.diff) {
    .pf-v5-c-modal-box__header {
      background-color: var(--pf-v5-global--palette--black-800);

      #editor-modal-h4 {
        color: var(--pf-v5-global--palette--white);
      }
    }

    .pf-v5-c-button {
      color: var(--pf-v5-global--palette--white);
    }

  }
}

.navbar.navbar-editor {
  margin-bottom: unset;

  .pf-v5-c-tabs__list {
    width: 100%;
    align-items: center;

    .middle {
      margin: 0 auto;
    }

    .divider {
      margin-left: auto;
      padding: 0 var(--pf-v5-global--spacer--sm);
    }

    .divider::before {
      content: '';
      display: block;
      height: 20px;
      width: 1px;
      background: #e1e1e1;
    }

    .divider + li {
      display: flex;
      align-items: flex-end;
    }

    #outdated-preview-alert {
      display: flex;
      align-items: center;
      min-width: 220px;

      .alert {
        padding: 0;
        display: flex;
        margin: 0 5px;
        height: 24px;
        align-items: center;
        border-radius: 2px;

        .pficon-warning-triangle-o {
          position: inherit;
          font-size: 15px;
          top: 0;
          left: 0;
          margin: 0 5px;
        }
      }
    }
  }
  .pf-v5-c-check.safemode-rendering-checkbox {
    label {
      margin-bottom: unset;
      padding-left: var(--pf-v5-global--spacer--sm);
      color: var(--pf-v5-global--danger-color--200);
    }
    input[type="checkbox"]{
      margin-top: unset;
    }
  }
}

.pf-v5-c-form {
  label.pf-v5-c-check__label {
    margin-bottom: 0 !important;
  }

  .pf-v5-c-check {
    input[type="checkbox"],
    input[type="radio"] {
      margin-top: 0;
    }
  }
}

#hide-btn,
#fullscreen-btn,
#settings-btn,
#import-btn,
#undo-btn {
  display: flex;
  font-size: var(--pf-v5-global--icon--FontSize--lg);
}

.ace_editor_form {
  position: relative !important;
  height: 360px !important;
  width: 100% !important;
  border: 0 !important;
  font-family: monospace !important;
}

.ace_editor_modal {
  width: 100% !important;
  height: 80vh !important;
}

#editor-container {
  display: flex;
  flex-direction: column;

  div.navbar-editor {
    .btn-link {
      outline: none;
    }
  }

  #editor {
    .ace_gutter {
      .ace_gutter-layer {
        margin-top: 5px !important;
      }

      .ace_gutter-active-line {
        margin-top: 5px;
      }
    }

    .ace_scroller {
      margin-top: 5px;
    }
  }

  #diff-table {
    height: 360px;

    .diff {
      border-bottom: 1px solid #e8e9ea;
    }
  }
}

#outdated-preview-alert .pf-m-warning {
  padding: 5px 10px;
  .pf-v5-c-alert__title {
    font-size: 12px;
    button {
      margin-left: 10px;
      padding: 0;
      font-size: 12px;
    }
  }
}

#preview_error_toast {
  margin-bottom: 0;
}

.ace_tooltip.ace_doc-tooltip {
  position: absolute;
}


.select-container-pf.open {
  position: static;
  overflow: visible;
}

.select-body-container {
  position: fixed;
  width: auto;
  min-width: 200px;
  max-width: 400px;
  transform: none;
  z-index: var(--pf-v5-global--ZIndex--2xl);
}
