<% title(_("Trends for %s") % trend_title(@trend)) %>
<div class="row">
  <div class="stats-well col-md-12">
    <p><strong><%= _('No data for this trend.') %></strong></p>
    <div><%= (_("Is the cron job that executes %s enabled?") % "<span class='black'>foreman-rake trends:counter</span>").html_safe %></div>
  </div>
</div>
