<% @hosts.in_groups(4, false) do |group| %>
  <div class="span3">
    <td>
      <% group.each do |fact| -%>
        <ul class="base">
          <li>
            <%= link_to(fact.host, host_path(:id => fact.host), :title => "Show Host") %>
          </li>
        </ul>
      <% end %>
    </td>
  </div>
<% end -%>
