<% @trend.find_systems.in_groups(4, false) do |group| %>
  <div class="span3">
    <td>
      <% group.each do |system| %>
        <ul class="base">
          <li>
            <%= link_to(system, system_path(:id => system), :title => _("Show System")) %>
          </li>
        </ul>
      <% end %>
    </td>
  </div>
<% end %>
