<% @trend.find_hosts.in_groups(4, false) do |group| %>
  <div class="col-md-3">
    <td>
      <% group.each do |host| %>
        <ul class="base">
          <li>
            <%= link_to(host, host_path(:id => host), :title => _("Show Host")) %>
          </li>
        </ul>
      <% end %>
    </td>
  </div>
<% end %>
