<% @trend.values.in_groups(4, false) do |group| %>
  <div class="span3">
    <td>
      <% group.each do |trend| -%>
        <ul class="base">
          <li>
            <table class="table table-condensed table-layout: fixed">
              <tr>
                <td style="width: 80%; border-top: none" >
                  <%= link_to trend.to_label, trend_path(:id => trend), :title => "Details" %>
                </td>
                <td style="width: 20%; border-top: none">
                  <% unless trend.trend_counters.blank? %><%= trend.trend_counters.last.count %><% end %>
                </td>
              </tr>
            </table>
          </li>
        </ul>
      <% end %>
    </td>
  </div>
<% end -%>
