<% title "Trends for #{trend_title(@trend)}" %>
<% content_for(:search_bar) { trend_days_filter } %>

<%= trend_chart 'trend_graph', "#{trend_title(@trend)}", "last #{range} days", chart_data(@trend, range.days.ago) %>

<table class="table">
  <% if @trend.fact_value == nil %>
    <th colspan="4">Values</th>
    <tr>
      <%= render 'trends' %>
    </tr>
  <% else %>
    <th colspan="4">Hosts</th>
    <tr>
      <%= render 'hosts' %>
    </tr>
  <% end %>
</table>