<% title "Trends for #{@title}" %>
<% content_for(:search_bar){ trend_days_filter } %>

<%= trend_chart 'trend_graph', "#{@title}", "last #{@range} days", trend_data(@trends, @range.days.ago) %>

<table class="table" >
  <th colspan="4">Values</th>
  <tr>
    <% @trends.in_groups(4, false) do |group| %>
        <div class="span3">
          <td>
            <% group.each do |trend| -%>
                <ul class="base">
                  <li>
                    <% if trend.is_a? FactTrend %>
                      <%= link_to_if_authorized trend, hash_for_edit_trend_path(:id => trend), :title => "Edit Fact Display Name" %>
                    <% else %>
                      <%=  trend %>
                    <% end %>
                  </li>
                </ul>
            <% end -%>
          </td>
        </div>
    <% end -%>
  </tr>
</table>