.page-layout {
    .page-title-section,
    .page-toolbar-section,
    .page-content-section {
      padding-left: var(--pf-v5-global--spacer--lg);
      padding-right: var(--pf-v5-global--spacer--lg);
    }
  
    .page-title-section {
      padding-bottom: var(--pf-v5-global--spacer--md);
    }
  
    .page-toolbar-section {
      .page-toolbar {
        .toolbar-search {
          flex-grow: 1;
          display: block;
        }

        .table-toolbar-actions {
          padding-left: var(--pf-v5-global--spacer--md);
        }
      }

      .pf-v5-c-toolbar__group {
        flex-grow: 1;
        &.pf-m-align-right {
          justify-content: flex-end;
        }
      }
  
      .pf-v5-c-toolbar__content {
        padding: 0;
      }
    }

    .page-title-section ~ .page-toolbar-section {
      padding-top: 0;
      padding-bottom: 0;
    }

    .page-toolbar-section:not(.page-title-section ~ .page-toolbar-section) {
      padding-left: var(--pf-v5-global--spacer--lg);
      padding-right: var(--pf-v5-global--spacer--lg);
      padding-bottom: var(--pf-v5-global--spacer--md);

      .page-toolbar {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  
    .page-content-section {
      padding-bottom: 0;
      padding-top: 0;
    }
}