.breadcrumb-bar {
  .breadcrumb-line {
    margin-right: -60px;
    margin-left: -60px;
  }

  .breadcrumbs-list {
    display: block;

    .breadcrumb-switcher {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      margin-left: 10px;

      .spinner {
        float: unset;
      }
    }
  }
}
