.breadcrumb-bar {
  padding-top: 20px;

  .breadcrumb-line {
    margin-right: -60px;
    margin-left: -60px;
  }

  .breadcrumbs-list {
    display: block;
  }
}

.breadcrumb-bar-pf4 {
  margin: 0 0 16px;

  .breadcrumbs-list {
    display: block;
  }
}
