.breadcrumb-bar {
  .breadcrumb-line {
    margin-right: -60px;
    margin-left: -60px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .breadcrumbs-list {
    display: block;
  }
}

.breadcrumb-bar-pf4 {
  .breadcrumbs-list {
    display: block;
  }
}
