.padded-divider {
  padding: 10px 0 10px;
}

.disabled-text {
  color: var(--pf-global--disabled-color--200);
  font-size: small;
}

.power-on {
  color: var(--pf-global--success-color--100);
}

.power-off {
  color: var(--pf-global--danger-color--100);
}

.power-na {
  color: var(--pf-global--disable-color--200);
}
