Source: foreman
Maintainer: Jochen Schalanda <jochen@schalanda.name>
Section: web
Priority: extra
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 7), cdbs
Homepage: http://www.theforeman.org/

Package: foreman
Architecture: all
Pre-Depends: debconf
Depends: ruby, ruby1.8 (>= 1.8.7), rubygems, rubygems1.8, rake (>=0.8.4),
         puppet (>=0.24.4), dbconfig-common, librestclient-ruby (>= 1.4.0), libjson-ruby, ${misc:Depends}
Recommends: foreman-proxy, libvirt-ruby
Suggests: thin | mongrel | httpd-cgi, libfcgi-ruby, libapache2-mod-passenger | libapache2-mod-fcgid, libvirt-bin
Enhances: puppet
Description: Systems management web interface
 Foreman is aimed to be a single address for all machines life cycle management.
 .
  - Foreman integrates with Puppet and acts as web front end to it.
  - Foreman takes care of bare bone provisioning until the point puppet is
    running, allowing Puppet to do what it does best.
  - Foreman shows you Systems Inventory (based on Facter) and provides real time
    information about hosts status based on Puppet reports.
  - Foreman creates everything you need when adding a new machine to your
    network. Its goal being automatically managing everything you would
    normally manage manually - that would eventually include DNS, DHCP,
    TFTP, PuppetCA, CMDB and everything else you might consider useful.
  - With Foreman you can always rebuild your machines from scratch.
  - Foreman is designed to work in a large enterprise, where multiple domains,
    subnets and puppetmasters are required.
    In many cases, Foreman could help remote provisions where no experienced
    technicians are available.

Package: foreman-mysql
Architecture: all
Pre-Depends: mysql-server, mysql-client | virtual-mysql-client
Depends: foreman, libdbd-mysql-ruby, ${misc:Depends}
Description: metapackage providing MySQL dependencies for Foreman
 This package only provides MySQL dependencies for Foreman, a
 flexible systems management web application. Install this
 one if you want to use a MySQL database with Foreman.
 .
 The foreman package should be installed along with this package.

Package: foreman-pgsql
Architecture: all
Pre-Depends: postgresql, postgresql-client
Depends: foreman, libdbd-pg-ruby, ${misc:Depends}
Description: metapackage providing PostgreSQL dependencies for Foreman
 This package provides PostgreSQL dependencies for Foreman, a
 flexible systems management web application. Install this
 one if you want to use a PostgreSQL database with Foreman.
 .
 The foreman package should be installed along with this package.

Package: foreman-sqlite3
Architecture: all
Depends: foreman, libdbd-sqlite3-ruby, sqlite3, ${misc:Depends}
Description: metapackage providing sqlite dependencies for Foreman
 This package provides sqlite dependencies for Foreman, a
 flexible systems management web application. Install this
 one if you want to use a SQLite database with Foreman.
 .
 The foreman package should be installed along with this package.
