<div id="menu">
  <ul>
    <li> <%= link_to "Hosts", :controller => :hosts %> </li>
    <li> <%= link_to "Settings", :controller => :home, :action => :settings %> </li>
    <li> <%= link_to "Reports", :controller => :reports %> </li>
    <li> <%= link_to "Audit Log", :controller => :audit %> </li>
  </ul>
</div>
