<% 
menus = [Menu::Manager.to_hash(:top_menu), Menu::Manager.to_hash(:admin_menu)] 
menus << Menu::Manager.to_hash(:labs_menu) if Setting[:lab_features]

taxonomies = {locations: SETTINGS[:locations_enabled], organizations: SETTINGS[:organizations_enabled]}
locations = []
organizations = []


if SETTINGS[:locations_enabled]
Location.my_locations.each do |location|
locations << {id: location.id, title: location.title, href: main_app.select_location_path(location)}
    end
end

if SETTINGS[:organizations_enabled]
Organization.my_organizations.each do |organization|
organizations << {id: organization.id, title: organization.title, href: main_app.select_organization_path(organization)}
    end
end

hash = { menu: menus, logo: image_path("header_logo.svg", :class => "header-logo"),
         notification_url: notification_recipients_path, user_dropdown: Menu::Manager.to_hash(:side_menu),
         taxonomies: taxonomies, locations: locations, organizations: organizations, root: main_app.root_path }
%>

<div id="layout"></div>
    <%= mount_react_component('Layout',"#layout", hash.to_json) %>
