<li id='notifications_container' class="drawer-pf-trigger dropdown"> </li>

<%= mount_react_component('NotificationContainer','#notifications_container',{:url => notification_recipients_path}.to_json) %>
