<% if SETTINGS[:locations_enabled] || SETTINGS[:organizations_enabled] %>
  <li class="dropdown org-switcher" >
    <a href="#" class ="dropdown-toggle" data-toggle="dropdown" ><%= org_switcher_title %><span class="caret"></span></a>

    <ul class="dropdown-menu">
      <%= render 'home/organization_dropdown' if SETTINGS[:organizations_enabled] %>
      <%= content_tag(:li,"",:class=>"divider") if SETTINGS[:organizations_enabled] && SETTINGS[:locations_enabled] %>
      <%= render 'home/location_dropdown' if SETTINGS[:locations_enabled] %>
    </ul>
  </li>
<% end %>