<% if SETTINGS[:organizations_enabled] %>
    <li class="dropdown org-switcher" id="organization-dropdown">
      <a href="#" class ="dropdown-toggle nav-item-iconic" data-toggle="dropdown" >
       <%= tax_title("organization") %><span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <%= render 'home/organization_dropdown' if SETTINGS[:organizations_enabled] %>
      </ul>
    </li>
<% end %>
<% if SETTINGS[:locations_enabled] %>
    <li class="dropdown org-switcher" id="location-dropdown">
      <a href="#" class="dropdown-toggle nav-item-iconic" data-toggle="dropdown" >
        <%= tax_title("location") %><span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <%= render 'home/location_dropdown' if SETTINGS[:locations_enabled] %>
      </ul>
    </li>
<% end %>