<div id="settings_dropdown" class="dropdown_header" >
  <a href="#">Settings&nbsp;&#9660;</a>

  <% choices  = []
     choices += [['Architectures',          :architectures]]
     choices += [['Bookmarks',              :bookmarks]]
     choices += [['Domains',                :domains]]
     choices += [['Environments',           :environments]]
     choices += [['Foreman Settings',       :settings]]
     choices += [['Global Parameters',      :common_parameters]]
     choices += [['Hardware Models',        :models]]
     choices += [['Host Groups',            :hostgroups]]
     choices += [['Installation Media',     :media]]
     choices += [['LDAP Authentication',    :auth_source_ldaps]]
     choices += [['Operating Systems',      :operatingsystems]]
     choices += [['Partition Tables',       :ptables]]
     choices += [['Provisioning Templates', :config_templates]]
     choices += [['Puppet Classes',         :puppetclasses]]
     choices += [['Smart Proxies',          :smart_proxies]]
     choices += [['Subnets',                :subnets]]

    choices += [
      ['Users',                  :users],
      ['User Groups',            :usergroups]
    ] if SETTINGS[:login]
    choices += [
      ['Roles',                  :roles]
    ] if SETTINGS[:login] and User.current.admin?
    choices += [['Hypervisors',  :hypervisors]] if SETTINGS[:libvirt]
  %>
  <%= select_tag "settings_list", options_for_select(allowed_choices(choices), @controller.request.url) %>
</div>
