<li class="dropdown <%= class_for_setting_page %>">
<% choices = setting_options %>
<%= link_to ("More" + content_tag(:span,'', :class=>"caret")).html_safe, "#", :class => "dropdown-toggle", :'data-toggle'=>"dropdown" unless choices.empty?%>
  <ul class="dropdown-menu">
    <% choices.each do |choice|-%>
      <%= choice  %>
    <% end -%>
  </ul>
</li>
