<%= link_to("Sign Out #{@username.login}", logout_users_path) if @username %>
<%= link_to 'Wiki',    "http://theforeman.org/wiki/foreman" %>
<%= link_to 'Support', "http://theforeman.org/projects/foreman/boards" %>
