<nav class="navbar navbar-pf-vertical" id="topbar">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
      <div class="navbar-brand">
        <%= image_tag("header_logo.svg", :class => "header-logo") %>
        <%= link_to "Foreman", main_app.root_path, :class => "navbar-brand-text" %>
      </div>
  </div>
  <ul class="nav navbar-nav navbar-left navbar-iconic navbar-utility">
    <%= render "home/org_switcher" %>
  </ul>
  <% if User.current %>
      <nav class="collapse navbar-collapse">
        <div id="turbolinks-progress"><div class="spinner spinner-inverse"></div></div>
        <ul class="nav navbar-nav navbar-right navbar-iconic navbar-utility">
        <%= render 'home/user_dropdown' if SETTINGS[:login] %>
        </ul>
    </nav>
  <% end %>
</nav>
