<li class="dropdown menu_tab_dropdown">
  <%= user_header %>
  <ul class="dropdown-menu pull-right">
    <% authorized_menu_actions(Menu::Manager.items(:user_menu).children).map do |item| %>
        <% case item %>
        <% when Menu::Item %>
          <%= menu_item_tag item %>
        <% when Menu::Divider %>
          <%= content_tag(:li, "", :class => "divider") %>
        <% end %>
    <% end %>
  </ul>
</li>
