<ul class="nav pull-right ">
  <li class="dropdown menu_tab_dropdown">
    <%= user_header %>
    <ul class="dropdown-menu pull-right">
      <% authorized_menu_actions(Menu::Manager.items(:user_menu).children).map do |item| %>
        <%= menu_item_tag item %>
      <% end %>
    </ul>
  </li>
</ul>

