.registration_commands_form {
  .pf-v5-c-check {
    align-items: center;
  }

  .pf-v5-c-check__input {
    align-self: center;
    transform: none;
    -moz-transform: none;
  }

  .pf-v5-c-check__label .pf-v5-c-form__group-label-help {
    vertical-align: middle;
  }
}
