.area-chart-legend-symbol {
  cursor: pointer;
}

.area-chart-legend-label {
  cursor: pointer;

  &[data-hidden='true'] {
    opacity: 0.4;
  }

  &[data-hovered='true'] {
    filter: brightness(1.1);
  }
}
