@font-face {
  font-family: 'Overpass';
  src: local("Overpass"), url('#{$tfm-local-font-path}/overpass_regular-web.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Overpass';
  src:
    local("Overpass Bold"),
    local("OverpassBold"),
    url('#{$tfm-local-font-path}/overpass_bold-web.woff') format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'AllBullets';
  src: local("AllBullets"), url('#{$tfm-local-font-path}/AllBullets.woff') format("woff");
  font-weight: normal;
  font-style: normal;
}
