#loading-audits {
  display: flex;
  margin-top: 100px;

  .spinner.spinner-lg {
    border-width: 7px;
    height: 57.6px;
    width: 57.6px;
  }
}

.blank-slate-pf {
  margin-top: 100px !important;
}
