<div class="row">
  <h3><%= _('DHCP') %></h3>
</div>
<%= show_feature_version('dhcp') %>
<div class="row">
  <div class="col-md-4">
    <strong><%= _('Subnets') %></strong>
  </div>
  <div class="col-md-8">
    <%= generate_links_for(@smart_proxy.subnets).html_safe %>
  </div>
</div>
