  <div class="col-md-12" id="dhcp_subnets" data-ajax-url="<%= smart_proxy_proxy_subnets_path(@smart_proxy) %>" data-on-complete="tfm.proxyStatus.dhcp.activateDhcpTables">
    <div class="top-margin">
      <%= spinner %>
    </div>
  </div>
