<div class="row">
  <h3><%= _('DNS') %></h3>
</div>
<%= show_feature_version('dns') %>
<div class="row">
  <div class="col-md-4">
    <strong><%= _('Domains') %></strong>
  </div>
  <div class="col-md-8">
    <%= generate_links_for(@smart_proxy.domains).html_safe %>
  </div>
</div>
