<div class="row">
  <div class="col-md-4"><strong><%= _('Version') %></strong></div>
  <div class="col-md-8">
    <span class="plugin-version" data-plugin="<%= feature %>">
      <%= spinner %>
    </span>
  </div>
</div>
