<div class="col-md-5">
  <%= render :partial => 'dashboard/reports_widget' %>
</div>
<div class="col-md-4">
  <%= render :partial => 'dashboard/distribution_widget' %>
</div>
<div class="col-md-3">
  <%= render :partial => 'dashboard/status_chart_widget' %>
</div>
