.vmware-storage-container {
  .pf-v5-c-expandable-section__toggle-text {
    font-size: var(--pf-v5-global--FontSize--md);
  }

  .pf-v5-c-menu-toggle {
    width: 80%;
    max-width: 880px;
  }

  .disks-container {
    padding-top: var(--pf-v5-global--spacer--md);
    .disk-form-status-container {
      align-self: center;
    }
  }
}
