<div class="clearfix">
  <%= label_tag :config_template_id, "Template" %>
  <div class="input">
    <%= collection_select param_field(fid), :config_template_id, templates, :id, :name %>
    <%= link_to_remove_fields("remove", f) %>
  </div>
</div>
