.pf4-breadcrumb-switcher-popover {
  .pf-c-menu__footer {
    padding: 0;

    .pf-c-pagination {
      padding: 0;
      justify-content: center;
    }
  }
  .breadcrumb-switcher-spinner {
    margin: auto;
    width: fit-content;
  }
}
