.pf4-breadcrumb-switcher-popover {
  .pf-c-pagination,
  .pf-c-pagination.pf-m-bottom .pf-c-options-menu,
  .pf-c-pagination.pf-m-bottom .pf-c-pagination__nav,
  .pf-c-menu__list,
  .pf-c-menu__list-item{
    visibility: unset;
  }
  .pf-c-menu__footer {
    padding: 0;

    .pf-c-pagination {
      padding: 0;
      justify-content: center;
    }
  }
  .breadcrumb-switcher-spinner {
    margin: auto;
    width: fit-content;
  }
}
