@import '../../common/colors.scss';

.notifications, #pf-drawer-panel-0{
  position: absolute;
  top: 70px;
  right: 0;
  height: calc(100vh - 70px);
  width: 450px;
  z-index: 120;

}

.notifications {
  h1 {
    margin: 0;
  }
}
