<div id="audits_page"></div>
<%= mount_react_component('AuditsPage', '#audits_page', {
    searchProps: get_search_props,
    docURL: documentation_url('4.1.4Auditing'),
    perPageOptions: per_page_options,
    searchable: true
}.to_json) %>
