.pf-c-input-group {
  .columns-selector {
    padding-left: 0px;

    .pf-c-button__icon.pf-m-start {
      padding-right: 4px;
    }
  }
}

.pf-c-tree-view {
  padding-top: 0px
}

#btn-select-columns{
  @media (max-width: 1530px) {
    .columns-selector-text {
      display: none;
    }
  }
}
