--- 
  - name: SUN x240
    vendor_class: 
    info: x2400 specific notes
    hardware_model: 
    rex: SUN x2400
  - name: VMWare
    vendor_class: 
    info: for Solaris installation use disks on c1t0
    hardware_model: 
    rex: VMware
  - name: SUN V20z
    vendor_class: 
    info: V20z specific notes
    hardware_model: 
    rex: Sun Fire V20z
  - name: SUN X2200
    vendor_class: 
    info: "x2200 specific notes\nShips with console = 1,9600n8\nProgram F3 to call up the BBS under the java redirector\nssh root@<host>-sp\ncd /SP/AgentInfo\nstart console\nESC-( to disconnect"
    hardware_model: 
    rex: Sun Fire X220
  - name: SUN X4100
    vendor_class: 
    info: "x4100 specific notes\ncosole redirection: \nssh <hostname>-sp root/<default>\ncd /SP\nstart console\nBIOS boot configuration:\nNetwork boot -> ^n or (F8 in java redirector)\n"
    hardware_model: 
    rex: Sun Fire X4100
  - name: IBM eServer 325
    vendor_class: 
    info: 
    hardware_model: 
    rex: IBM eServer 325
  - name: IBM eServer 335
    vendor_class: 
    info: e355 specific notes
    hardware_model: 
    rex: eserver.*335
  - name: SGI 1450
    vendor_class: 
    info: 1450 specific notes
    hardware_model: 
    rex: SGI 1450
  - name: HP dc7800p
    vendor_class: 
    info: dc7800p specific notes
    hardware_model: 
    rex: HP dc7800p
  - name: IBM eServer 326
    vendor_class: 
    info: e326 specific notes
    hardware_model: 
    rex: IBM eServer 326
  - name: SUN X4150
    vendor_class: 
    info: x4150 specific notes
    hardware_model: 
    rex: SUN FIRE X4150
  - name: DELL Desktop PC
    vendor_class: 
    info: DELL Desktop PC
    hardware_model: 
    rex: DELL Desktop PC
  - name: SUN X2250
    vendor_class: 
    info: "Ships with console = 0,9600n8\r\nProgram F3 to call up the BBS under the java redirector\r\nssh root@<host>-sp\r\nstart /SP/console\r\nESC-( to disconnect"
    hardware_model: 
    rex: SUN FIRE X2250
  - name: Sun V125
    vendor_class: Sun-Fire-V125
    info: SUN V125 specific notes
    hardware_model: SUN4U
    rex: Sun-Fire-V125
  - name: SUN V240
    vendor_class: Sun-Fire-V240
    info: V240 specific notes
    hardware_model: SUN4U
    rex: Sun-Fire-V240
  - name: SUN V440
    vendor_class: Sun-Fire-V440
    info: v440 specific notes
    hardware_model: SUN4U
    rex: Sun-Fire-V440
  - name: Sun-Fire-V480R
    vendor_class: Sun-Fire-480R
    info: v480 specific notes
    hardware_model: SUN4U
    rex: Sun-Fire-480R
  - name: SUN V490
    vendor_class: Sun-Fire-V490
    info: V490 specific notes
    hardware_model: SUN4U
    rex: Sun-Fire-V490
  - name: DELL PowerEdge 2650
    vendor_class: 
    info: PowerEdge 2650 specific notes
    hardware_model: 
    rex: PowerEdge 2650
  - name: DELL PowerEdge R610
    vendor_class: 
    info: PowerEdge 2650 specific notes
    hardware_model: 
    rex: PowerEdge R610
  - name: SUN V210
    vendor_class: Sun-Fire-V210
    info: "Type \"#.\"  to return to the ALOM\nType \"help\" for commands"
    hardware_model: SUN4U
    rex: Sun-Fire-V210
  - name: SUN V280
    vendor_class: Sun-Fire-280R
    info: v280 specific notes
    hardware_model: SUN4U
    rex: Sun-Fire-280R
  - name: SUN Blade 1500
    vendor_class: Sun-Blade-1500
    info: Blade 1500 specific notes
    hardware_model: SUN4U
    rex: Sun Blade 1500
  - name: SUN Ultra 60
    vendor_class: Ultra-60
    info: Ultra 60 specific notes
    hardware_model: SUN4U
    rex: Sun Ultra 60
  - name: FSC BX600 Blade
    vendor_class: 
    info: FSC Bladeserver
    hardware_model: 
    rex: FSC BX600 Blade
  - name: SUN V40z
    vendor_class: 
    info: V40z specific notes
    hardware_model: 
    rex: Sun Fire V40z
  - name: SUN T5140
    vendor_class: T5140
    info: Sun Sparc Enterprise T5140
    hardware_model: SUN4V
    rex: T5140
  - name: HP ProLiant DL145
    vendor_class: 
    info: DL145 specific notes
    hardware_model: 
    rex: ProLiant DL145
  - name: HP ProLiant DL370
    vendor_class: 
    info: DL370 specific notes
    hardware_model: 
    rex: ProLiant DL370
  - name: SUN SPARC-Enterprise
    vendor_class: SPARC-Enterprise
    info: 
    hardware_model: SUN4U
    rex: SUN SPARC-Enterprise
  - name: SUN V60
    vendor_class: 
    info: Sun V60 specific notes
    hardware_model: 
    rex: SUN V60
  - name: SUN Taurus
    vendor_class: 
    info: 
    hardware_model: 
    rex: Sun Taurus
  - name: SUN X4600
    vendor_class: 
    info: "x4600 specific notes cosole redirection: ssh <hostname>-sp root/<default> cd /SP start console BIOS boot configuration: Network boot -> ^n or (F8 in java redirector) "
    hardware_model: 
    rex: Sun Fire X4600
  - name: SUN X200
    vendor_class: 
    info: X4200 specific notes
    hardware_model: 
    rex: Sun Fire X4200
  - name: SUN X4170
    vendor_class: 
    info: x4170 specific notes
    hardware_model: 
    rex: SUN FIRE X4170
  - name: INTEL S500 PAL
    vendor_class: 
    info: 
    hardware_model: 
    rex: S500PAL
  - name: INTEL SR1500
    vendor_class: 
    info: sr1500 specific notes
    hardware_model: 
    rex: Intel SR1500
  - name: SUN Blade X6240
    vendor_class: 
    info: Blade X6240 specific notes
    hardware_model: 
    rex: SUN BLADE X6240
  - name: SUN V100
    vendor_class:
    info: V100 specific nodes
    hardware_model: SUN4U
    rex: Sun V100
  - name: SUN X2270
    vendor_class: 
    info: x2270 specific notes
    hardware_model: 
    rex: SUN FIRE X2270
  - name: DELL PowerEdge 1950
    vendor_class: 
    info: Poweredge 1950 specific notes
    hardware_model: 
    rex: PowerEdge 1950
  - name: SUN V890
    vendor_class: Sun-Fire-V890
    info: V890 specific notes
    hardware_model: SUN4U
    rex: Sun-Fire-V890
  - name: SUN Blade X6270
    vendor_class: 
    info: Blade X6270 specific notes
    hardware_model: 
    rex: SUN BLADE X6270
  - name: SUN Ultra 80
    vendor_class: Ultra-80
    info: Ultra 80 specific notes
    hardware_model: SUN4U
    rex: Ultra-80
  - name: HP ProLiant DL585
    vendor_class: 
    info: "DL585 specific notes "
    hardware_model: 
    rex: ProLiant DL585
  - name: KVM
    vendor_class: 
    info: Virtual Machine
    hardware_model: 
    rex: KVM
  - name: DELL PowerEdge 2950
    vendor_class: 
    info: 
    hardware_model: 
    rex: PowerEdge 2950
  - name: HP ProLiant DL360
    vendor_class: 
    info: DL360 specific notes
    hardware_model: 
    rex: ProLiant DL360
  - name: HP ProLiant DL140
    vendor_class: 
    info: 
    hardware_model: 
    rex: ProLiant DL140
  - name: HP ProLiant DL160
    vendor_class: 
    info: 
    hardware_model: 
    rex: ProLiant DL160
  - name: HP ProLiant DL380
    vendor_class: 
    info: 
    hardware_model: 
    rex: ProLiant DL380
  - name: HP ProLiant DL785
    vendor_class: 
    info: 
    hardware_model: 
    rex: ProLiant DL785
  - name: SUN V245
    vendor_class: Sun-Fire-V245
    info: V245 specific notes
    hardware_model: SUN4U
    rex: Sun-Fire-V245
  - name: SUN V880
    vendor_class: Sun-Fire-V880
    info: v880 specific notes
    hardware_model: SUN4U
    rex: Sun-Fire-880
  - name: FSC RX600
    vendor_class: 
    info: FSC RX600 specific notes
    hardware_model: 
    rex: FSC RX600
  - name: FSC Primergy BX630
    vendor_class: 
    info: "Fujitsu Primergy BX630\n"
    hardware_model: 
    rex: PRIMERGY BX630
  - name: FSC Primergy BX922
    vendor_class: 
    info: "Fujitsu Primergy BX922\n"
    hardware_model: 
    rex: PRIMERGY BX922
  - name: FSC Primergy RX200
    vendor_class: 
    info: "Fujitsu Primergy RX200\n"
    hardware_model: 
    rex: PRIMERGY RX200
  - name: FSC Primergy RX600
    vendor_class: 
    info: "Fujitsu Primergy RX600\n"
    hardware_model: 
    rex: PRIMERGY RX600
  - name: FSC Primergy RX900
    vendor_class: 
    info: "Fujitsu Primergy RX900\n"
    hardware_model: 
    rex: PRIMERGY RX900
  - name: TYAN Yellow River
    vendor_class: 
    info: Yellow River YR190 specific notes
    hardware_model: 
    rex: Tyan Yellow River
  - name: SUN x4140
    vendor_class: 
    info: x4140 specific notes
    hardware_model: 
    rex: Sun Fire X4140
  - name: SUN T2000
    vendor_class: Sun-Fire-T200
    info: "Sun Sparc Enterprise T2000\nNote that the vendor class uses T200, not T2000"
    hardware_model: SUN4V
    rex: Sun-Fire-T200
  - name: HP ProLiant DL385
    vendor_class: 
    info: DL385 specific notes
    hardware_model: 
    rex: ProLiant DL385
  - name: HP ProLiant DL580
    vendor_class: 
    info: 
    hardware_model: 
    rex: ProLiant DL580
  - name: FS PrimePower 400
    vendor_class: GPUZC-M
    info: 
    hardware_model: SUN4US
    rex: GPUZC-M
  - name: FSC RX900
    vendor_class: 
    info: FSC RX900 specific notes
    hardware_model: 
    rex: FSC RX900
  - name: FSC BX922 Blade
    vendor_class: 
    info: FSC B lade specific notes
    hardware_model: 
    rex: FSC BX922 Blade

