---
# You must restart the Rack server after changing either of these values
# because they are cached at startup.
#
:unattended: true
:login: true
:require_ssl: false
:locations_enabled: false
:organizations_enabled: false
#JSONP or "JSON with padding" is a complement to the base JSON data format.
#It provides a method to request JSON data from a server in a different domain.
:support_jsonp: false
#:puppetconfdir: /etc/puppet
#:puppetvardir: /var/lib/puppet
#:puppetssldir: /var/lib/puppet/ssl

# Mark translated strings with X characters (for developers)
:mark_translated: false

# Use the webpack development server? set to false to disable (for developers)
# Make sure to run `rake webpack:compile` if disabled.
:webpack_dev_server: true

# If you run Foreman in development behind some proxy or use HTTPS you need
# to enable HTTPS for webpack dev server too, otherwise you'd get mixed content
# errors in your browser
:webpack_dev_server_https: false

# Ruby on Rails version
# Defaults to 5.1
#:rails: 5.1

# Local administrative settings for application domain, fqdn, foreman URL,
# administrator email address etc. If you don't have a Puppet provisioning
# system you may want to change to setup your project on your local machine.
:domain: 'localdomain.net'
:fqdn: 'localhost.localdomain.net'

# Log settings for the current environment can be adjusted by adding them
# here. It is also possible to override settings per environment. See
# logging.yaml for more details and examples.
#:logging:
#  :level: debug
#  :production:
#    :type: syslog

# Individual logging types can be toggled on/off here
#:loggers:
#  :app:
#    :enabled: true
#  :audit:
#    :enabled: true
#  :ldap:
#    :enabled: false
#  :permissions:
#    :enabled: false
#  :proxy:
#    :enabled: false
#  :sql:
#    :enabled: false
#  :templates:
#    :enabled: true
#  :notifications:
#  :background:
#    :enabled: true
#  :dynflow:
#    :enabled: true

#
# Configure how many workers should dynflow use to handle incoming requests.
#
# :dynflow:
#   :pool_size: 5
