// Influenced by https://github.com/RedHatInsights/frontend-components/blob/41d66f3227e582a081af5f445dbdea3f97fe5160/packages/components/src/Components/ConditionalFilter/conditional-filter.scss

.foreman-pf4-search-icon {
  position: relative;
  height: auto;
}

.foreman-pf4-search-input {
  padding-right: 35px;
  margin-right: -23px;
}