<% title "New Partition Table layout" %>

<%= render :partial => 'form' %>

Note: you may use a script as well, see <%= link_to "http://theforeman.org/projects/foreman/wiki/Dynamic_disk_partitioning" %>

<p><%= link_to "Back to List", ptables_path %></p>
