<div class="fields">
  <%= select_f f, :hostgroup_id, Hostgroup.all, :id, :to_label, {:include_blank => true}, :label => _("Hostgroup"),
        :help_inline => link_to_remove_fields(_('Remove'), f, :title => _("Remove Combination")) %>
</div>
