<% title = _("Hosts Inventory") %>
<div id="welcome">
  <p>
  <%= _("You don't seem to have any facts, if you wish to configure it, please follow") %>
  <%= link_to _("setting up facts"), "http://theforeman.org/projects/foreman/wiki/Puppet_Facts", :rel => "external" %>.
  </p>

  <p><%= _('This page will self destruct once inventory data comes in.') %></p>
</div>
