<% title = _("Hosts Inventory") %>
<div id="welcome">
  <p>
  <%= _("You don't seem to have any facts yet. If you wish to configure fact pushing, please follow") %>
  <%= link_to _("setting up facts"), "http://www.theforeman.org/manuals/#{SETTINGS[:version].short}/index.html#3.5.5FactsandtheENC", :rel => "external" %>.
  </p>

  <p><%= _('This page will self destruct once inventory data comes in.') %></p>
</div>
