<div class="row">
  <% search_bar(_("Generated %s ago") % time_ago_in_words(@console['timestamp'])) %>
  <%= title_actions(link_to_if_authorized(_("Back to system"), hash_for_system_path(:id => @system), :title => _("Back to system"), :class => 'btn')) if @system %>
  <% title "#{@console[:name]}" %>
</div>
<% if @system && (@system.installed_at.nil? or (@console['timestamp'] - @system.installed_at < 5.minutes)) %>
  <div class='alert'>
    <a class="close" href="#" data-dismiss="alert">&times;</a>
    Console output may be out of date
  </div>
<% end %>
<pre class="pre-scrollable">
  <code>
    <%= @console['output'] %>
  </code>
</pre>

