<% title "#{@console[:name]}" %>
<%= title_actions(
        button_group(link_to(_("Ctrl-Alt-Del"), "#", :id => "sendCtrlAltDelButton", :onclick => 'tfm.spice.sendCtrlAltDel()', :class => "btn btn-default"),
                     if @host
                       link_to_if_authorized(_("Back to host"), hash_for_host_path(:id => @host), :title => _("Back to host"), :class => 'btn btn-default')
                     end
        ),
        documentation_button("7.1NoVNC",
          {:id => "troubleshootingButton", :class => "btn btn-default"})
        ) %>
<div id="spice-area" <%= spice_data_attributes(@console) %>>
  <div class="console-status">
    <div id="spice-status" class="col-md-12 label" data-host="<%= @console[:name] %>"><%= _("Connecting (unencrypted) to: %s") % @console[:name] %></div>
  </div>
  <div id="spice-screen" class="console-screen"> </div>
</div>

<script type="text/javascript"> tfm.spice.startSpice() </script>
