<%= javascript 'spice/setup', 'spice' %>

<div id='spice-area' data-port='<%= @console[:proxy_port] %>' data-password='<%= @console[:password] %>'>

  <div id="spice_status" class="span7 label">Loading</div>
  <div id="spice_buttons">
    <input type=button value="Disconnect" id="disconnect" class="fr btn">
    <input type=button value="Ctrl-Alt-Del" id="sendCtrlAltDelButton" class="fr btn">
  </div>
  <%= link_to_if_authorized("Back to host", hash_for_host_path(:id => @host), :title => "Back to host", :class => 'fr btn') if @host %>

  <div id="spice-screen" class="spice-screen"></div>

  <div id="message-div" class="spice-message"></div>

  <div id="debug-div">
    <!-- If DUMPXXX is turned on, dumped images will go here -->
  </div>
</div>
