<% title "#{@console[:name]}" %>
<%= title_actions(
        button_group(link_to("Ctrl-Alt-Del", "#", :id => "sendCtrlAltDelButton", :class => "btn btn-default"),
                     if @host
                       link_to_if_authorized(_("Back to host"), hash_for_host_path(:id => @host), :title => _("Back to host"), :class => 'btn btn-default')
                     end
        ),
        documentation_button("7.1NoVNC",
          {:id => "troubleshootingButton", :class => "btn btn-default"}
        )
 ) %>

<%= content_tag(:div, :id => 'vnc', :data => vnc_data_attributes(@console)) do %>
  <div id="noVNC_status_bar" class="console-status">
    <div id="noVNC_status" class="col-md-12 label">Loading ...</div>
  </div>
  <div id="noVNC_screen" class="console-screen"></div>
<% end -%>
