<%= form_tag smart_proxy_autosign_index_path(@proxy) do |f| %>
  <div class="clearfix">
    <%= label_tag(_("Name")) %>
    <div class="input">
      <%= text_field_tag(:id) %>
    </div>
  </div>
  <%= submit_tag _('Save'), :class => "btn btn-success" %>
<% end -%>
