<tr>
  <td><%= _("URL") %></td>
  <td><%= @compute_resource.url %></td>
</tr>
<tr>
  <td><%= _("Console passwords") %></td>
  <td><%= @compute_resource.set_console_password? ? _("Enabled") : _("Disabled") %></td>
</tr>
