<div class="fields">
  <% nat    = compute_resource.networks -%>
  <%#<%= selectable_f f, :print, xenserver_networks(compute_resource), {},%>
		   <%#{ :label    => _('Network Type'), :help_inline =>%>
		       <%#remove_child_link('X', f, { :method => :'_delete', :title => _('remove network interface'),%>
						   <%#:class  => 'label label-important' }),%>
		     <%#:onchange => 'libvirt_network_selected(this)' } %>
  <div id='nat' class=''>
    <%= selectable_f f, :print, nat.map(&:name),
		     { :include_blank => nat.any? ? false : _("No networks") },
		     { :class => "span2", :label => _("Network") } %>
  </div>
</div>
