<div class="fields">
	<%
		selected_item_c = ''
		selected_item_b = ''
		if params['host']['compute_attributes'] then
			selected_item_c = params['host']['compute_attributes']['custom_template_name']
			selected_item_b = params['host']['compute_attributes']['builtin_template_name']
		end
	%>

  <div id='templates' class=''>
  	<label class="control-label" for="host_compute_attributes_custom_template_name">Custom template</label>
  	<div class="controls">
	  	<select class="span2" id="host_compute_attributes_custom_template_name" name="host[compute_attributes][custom_template_name]">
	  	<%= options_for_select([[_("No template"), ""]] + compute_resource.custom_templates.map {|t| [t.name, t.name]}, selected_item_c) %>
		</select>
	</div>

    <label class="control-label" for="host_compute_attributes_builtin_template_name">Built-in template</label>
  	<div class="controls">
	  	<select class="span2" id="host_compute_attributes_builtin_template_name" name="host[compute_attributes][builtin_template_name]">
	  	<%= options_for_select([[_("No template"), ""]] + compute_resource.builtin_templates.map {|t| [t.name, t.name]}, selected_item_b) %>
		</select>
	</div>

  </div>

</div>
