<div class="fields">
<%
	selected = ""
	size = ""
	if params && params['host'] && params['host']['compute_attributes'] then
		selected = params['host']['compute_attributes']['VBDs']['print']
		size = params['host']['compute_attributes']['VBDs']['physical_size']
	end
-%>
  <%= selectable_f f, :print, compute_resource.storage_pools.map(&:name), {:selected => selected }, :class => "span2", :label => _("Storage Repository") %>
  <%= text_f f, :physical_size, :class => "input-mini", :label => _("Size (GB)"), :value => size %>
</div>
