<div class="children_fields">


	<div class="fields"/>
		<div class="control-group  "><label class="control-label" for="print">vm-data/ifs/0/ip</label>
		<div class="controls"><input id="xenstore-vm-data-ifs-0-ip" type="text" name="host[compute_attributes][xenstore][vm-data][ifs][0][ip]" class="input-mini"></div>
	</div>

	<%#<div class="control-group  "><label class="control-label" for="print">vm-data/ifs/0/mac</label>%>
		<%#<div class="controls"><input type="text" name="Example" value="Determinated once we create machine from template" class="input-large"></div>%>
	<%#</div>%>

	<div class="control-group  "><label class="control-label" for="print">vm-data/ifs/0/gateway</label>
		<div class="controls"><input id="xenstore-vm-data-ifs-0-gateway" type="text" name="host[compute_attributes][xenstore][vm-data][ifs][0][gateway]" class="input-mini"></div>
	</div>

	<div class="control-group  "><label class="control-label" for="print">vm-data/nameserver1</label>
		<div class="controls"><input id="xenstore-vm-data-nameserver1" type="text" name="host[compute_attributes][xenstore][vm-data][nameserver1]" class="input-mini"></div>
	</div>

	<div class="control-group  "><label class="control-label" for="print">vm-data/nameserver2</label>
		<div class="controls"><input id="xenstore-vm-data-nameserver2" type="text" name="host[compute_attributes][xenstore][vm-data][nameserver2]" class="input-mini"></div>
	</div>

</div>
