<% title_actions import_proxy_select(hash_for_import_environments_environments_path), button_group(display_link_if_authorized("New Environment", hash_for_new_environment_path)) %>
<% title "Environment configuration" %>
<div id="welcome">
  <p>
  If you are planning to use Foreman as an external node classifier you should provide information
  about one or more environments. This information is commonly imported from a pre-existing puppet configuration by the use of the <a href=http://www.theforeman.org/manuals/1.1/index.html#4.2.1Environments rel="external">Puppet classes and environment importer</a>
  </p>

  <p>
  Environments may be manually created and only require the name of the environment to be declared.
  </p>

</div>

