<%= render 'selected_systems', :systems => @systems %>

<%= form_tag submit_multiple_destroy_systems_path(:system_ids => params[:system_ids]), :onsubmit => "resetSelection()" do %>
  <span class="label label-warning"><%= _('Warning') %></span>
  <%= _('This might take a while, as all systems, facts and reports will be destroyed as well') %>
<% end %>
