@import '~highlight.js/styles/github';

.markdown-body {
  padding: 20px 50px;

  h1 {
    margin-top: 40px;
    font-size: 28px;
  }

  h2 {
    margin-top: 40px;
  }

  h3 {
    margin-top: 40px;
  }
}
