[Unit]
Description=Foreman
Documentation=https://theforeman.org
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
User=$FOREMAN_USER
TimeoutSec=300
WorkingDirectory=/usr/share/foreman
ExecStart=/usr/bin/scl enable tfm "rails server --environment $FOREMAN_ENV --port $FOREMAN_PORT --binding $FOREMAN_BIND"
Environment=FOREMAN_ENV=production FOREMAN_PORT=3000 FOREMAN_BIND=0.0.0.0 FOREMAN_USER=foreman

[Install]
WantedBy=multi-user.target
