@import "jquery.ui.theme";
@import "jquery.ui.core";
@import "jquery.ui.menu";
//we need to import all the above because we are using jquery-ui-rails and it uses sprockets require instead of sass import.
@import "jquery.ui.autocomplete";
@import "../../../vendor/assets/stylesheets/vendor";
@import "scoped_search";
@import "multi-select";
@import "select2";
@import "select2-bootstrap";
@import "patternfly-sprockets";
@import "patternfly";
@import "mixin";
@import "/**/*";

html {
  height: 100%;
  overflow: auto;
}

body {
  height: 100%;
}

.base li {
  margin-left: 20px;
  list-style: none;
}

#hostclasses, .classes li, .classes li a {
  list-style-type: none;
  margin-right: 0.5em;
  text-decoration: none;
}

.classes > ul {
  margin-bottom: 0;
  margin-left: -42px;
}

.puppetclass, .puppetclass li, .selected_puppetclass, .selected_puppetclass li,
.config_group, .config_group li, .selected_config_group, .selected_config_group li {
  a {
    color: #333;
  }
  a.glyphicon-minus-sign, a.glyphicon-plus-sign {
    float: right;
    margin-right: 10px;
  }
}

a.config_group_name {
  color: #428bca;
}

#actions_dropdown {
  float: right;
  margin-left: 3px;
}

#settings li {
  list-style-type: none;
  padding: 0 0 8px;
}

/* text align left */
.la {
  text-align: left;
}

/* text align right */
.ra {
  text-align: right;
}

/* text align center */
.ca {
  text-align: center;
}

/* float  right */
.fr {
  float: right;
}

/* float left */
.fl {
  float: left;
}

#confirmation-modal {
  .modal-dialog {
    width: 850px;
  }

  .modal-body {
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 300px;
    max-height: 500px;
  }
}

#bookmarks-modal .modal-dialog {
  width: 750px;
}

#host-conflicts-modal .modal-dialog {
  width: 650px;
}

.editable {
  background: image-url("edit.png") no-repeat scroll 98% 6px transparent;
  cursor: pointer;
  padding: 4px 26px 4px 0;
  &:hover {
    background: image-url("edit-hover.png") no-repeat scroll 98% 6px #F2F2F2;
  }
}

.tab-error {
  color: #b94a48 !important;
}

.smart_var_add_match {
  top: -47px;
  position: relative;
}

.action_btn {
  position: relative;
  top: -38px;
  right: 92px;
  float: right;
}

select {
  padding: initial;
}

.inputs-list {
  margin-left: 0;
  margin-bottom: 18px;
  list-style: none;
  display: inline;
}

.collapse .inputs-list li {
  margin-left: 20px;
}

.delete {
  color: #b94a48 !important;
  cursor: auto;
}

.inherited {
  color: #444444 !important;
  cursor: auto;
}

.descendants {
  color: #444444 !important;
  cursor: auto;
}

.used_by_hosts {
  color: #000 !important;
  cursor: auto;
}

.setting_value form {
  margin: 0 !important;
}

.ignore-subnet {
  margin-right: 10px;
  margin-top: -25px;
  float: right;
}

.tabs-left .nav-tabs > li > a.btn:hover {
  background: inherit;
  background-color: #408140;
}

.ace_editor {
  border: 2px solid #eee;
}

.audit-content {
  border-bottom: 1px solid #ccc;
  padding-bottom: 9px;
  margin-bottom: 9px;
  margin-top: 9px;
}

#title_action{
  padding-bottom: 12px;
}

.grey, .gray {
  color: #808080 !important;
}

.lightgrey, .lightgray {
  color: #999 !important;
}

.darkgrey, .darkgray {
  color: #606060 !important;
}

.black {
  color: #000 !important;
}

.form-group{
  td{
    vertical-align: top
  }
}

.form-group > div.control-label{
  text-align: left;
  > a {
    padding-left: 10px;
  }
}

.avatar {
  width: 30px;
  height: 30px;
  &.small {
    width: 15px;
    height: 15px;
    margin: -2px 5px 0 0;
  }
}

table {
  margin-bottom: 6px !important;
  clear: both;

  tr td:last-child {
    .btn {
      float: none;
    }

    .btn-group {
      white-space: nowrap;
    }
  }
}

.table-fixed {
  table-layout: fixed;
}

.nbsp {
  white-space: nowrap;
}

.diff-modal {
  width: 720px;
  height: 520px;
}

.modal-body {
  max-height: 800px;
}

.label-light {
  font-weight: normal;
  text-shadow: 0 0 0;
}

.console-screen {
  display: inline-block;
  padding: 10px;
  margin-top: 18px;
  min-width: 720px;
  min-height: 400px;
  border: solid #222222 1px;
  @include box-shadow(5px 5px 5px rgba(0, 0, 0, 0.2));
  border-radius: 10px;
}

.ellipsis {
  overflow: hidden;
  overflow-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.fact-col{
  white-space: normal;
  max-width: 500px;
}

.exit-fullscreen {
  position: absolute;
  top: 30px;
  right: 30px;
}

.config_group, .selected_config_group {
  min-height: 30px;
}

.pagination {
  display: table-cell;
  vertical-align: bottom;
  float: none;
}

#interfaceModal {
  .modal-dialog {
    min-width: 1000px;
  }
  .modal-body {
    max-height: none;
  }
}

#addInterface {
  margin-left: 10px;
  margin-bottom: 5px;
}

.interface-down {
  color: #808080;
}

#interfaceList.table {

  border-collapse: separate;
  border-width: 1px 0 1px 0;

  tr {
    th:first-child,
    td:first-child {
      border-width: 1px 1px 0 1px;
    }

    th, td {
      border-width: 1px 1px 0 0;
    }
  }

  tr.has-error {
    td:first-child {
      border-left: 1px solid #a94442;
    }

    td:last-child {
      border-right: 1px solid #a94442;
    }

    td {
      color: #333333;
      border-top: 1px solid #a94442;
      border-bottom: 1px solid #a94442;
    }
  }

  .primary-flag,
  .provision-flag {

    cursor: pointer;
    color: #bbb;
    margin: 2px;

    &:hover {
     color: #999;
    }

    &.active {
      color: black;
      &:hover {
        color: #428bca;
      }
    }

  }

}

.additional-info {
  font-size: 75%;
}

.autocomplete-input {
  display:inline-block !important;
}

.glyphicon.nic-flag {
  margin: 2px;
}

.lookup-keys-container{
  li .close{
    display: none;
  }
  li.active .close{
    display: block;
  }
}

.toggle-hidden-value {
  span {display: none;}
  &.unhide span {
    display: inline;
  }
}

.replace-hidden-value {
  .full-value {
    display: none;
    &.unhide {
      display: inline;
      width: 90%;
      word-break: break-all;
    }
  }
}

.puppetclass_group, .config_group_group {
  li {
    a {
      i.glyphicon {
        font-size: 11px;
      }
    }
  }
}

.children_fields {
  margin-bottom: 10px;
}

.remove-button {
  float: right;
  margin-right: 30px;
}

.removable-item {
  margin-bottom: 25px;
}

.fullscreen{
  position: fixed !important;
  height: 100vh !important;
  width: 100vw !important;
}

.select2-arrow > b{
  margin: -4px 0 0 0;
}

.icon-white {
  color: white;
}

.select2-container .select2-choices .select2-search-field input, .select2-container .select2-choice, .select2-container .select2-choices .select2-chosen{
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  line-height: 2.0;
}

.navbar-editor > span > .select2-container .select2-choices .select2-search-field input, .select2-container .select2-choice, .select2-container .select2-choices .select2-chosen {
  height: 26px;
}

.select2-chosen, .select2-choice > span:first-child, .select2-container .select2-choices .select2-search-field input{
  padding: 0 0;
}

.select2-chosen, .select2-choice > span:first-child, .select2-container .select2-choices .select2-search-field input{
  padding-left: 6px;
}

.expander {
  cursor: pointer;
  *cursor: hand;
  .caret{
    margin-right: 5px;
    transform: rotate(0deg);
    transition-duration: 0.8s;
  }
  &.collapsed .caret{
    transform: rotate(-90deg);
  }
}

.error-message{
  padding-right: 10px;
}

i.glyphicon.host-status {
  margin-right: 5px;
}

span.glyphicon.host-status {
  top: 3px;
}

.break-me {
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap; /* HP printers */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
  word-break: break-all;
}

.big {
  font-size: 3rem;
  color: #797979;
}

#turbolinks-progress {
  display: none;
  z-index: 10000;
  div {
    margin-left: 15px;
    margin-top: 2px;
    width: 20px;
    height: 20px;
  }
}

.white-header {
  background-color: white !important;
  th {
    background-color: white !important;
  }
}

.spinner-placeholder{
  position: absolute;
}

.spinner-label{
  display: block;
  float: left;
}

.ui-autocomplete {
  max-height: 300px;
  overflow-y: auto;
}
