html {
  font-family: sans-serif;
  line-height: 1.15;
}

body {
  font-family: var(--pf-global--FontFamily--sans-serif);
  font-size: var(--pf-global--FontSize--sm);
  font-weight: var(--pf-global--FontWeight--normal);
  line-height: var(--pf-global--LineHeight--md);
  text-align: left;
  background-color: var(--pf-global--BackgroundColor--100);
}

a {
  font-weight: var(--pf-global--link--FontWeight);
  color: var(--pf-global--link--Color);
  text-decoration: var(--pf-global--link--TextDecoration);

  &:hover {
    --pf-global--link--Color: var(--pf-global--link--Color--hover);
    --pf-global--link--TextDecoration: var(--pf-global--link--TextDecoration--hover);
  }
}
