// Colors
$primary_color: #005c7e;
$border_color: #0187b6;

$primary_gradient_start: #0072a0;
$primary_gradient_end: #0072a0;

$hover_gradient_start: #005b7e;
$hover_gradient_end: #006289;

$navbar-default-link-color: white;

$login-bg-color: $primary_color;
$login-container-bg-color-rgba: rgba(0, 0, 0, 0.3);

$topbar-default-color: #01749d;
$nav-pf-vertical-active-bg-color: #026991;
$nav-pf-vertical-hover-bg-color: #025B7F;
$nav-pf-vertical-secondary-active-bg-color: #024d6c;
$nav-pf-vertical-icon-color: #c7c7c7;
$nav-pf-vertical-secondary-indicator-color: #d1d1d1;
$nav-pf-vertical-bg-color: #024d6c;
