// Colors
$primary_color: #005C7E;
$border_color: #0187b6;
$brand_color: #005C7E;

$primary_gradient_start: #0072a0;
$primary_gradient_end: #0072a0;

$selected_gradient_start: #005b7e;
$selected_gradient_end: #006289;

$hover_gradient_start: #005b7e;
$hover_gradient_end: #006289;

$border_color: #0187b6;

$navbar-default-brand-color: white;
$navbar-default-brand-hover-color: white;

$navbar-default-link-color: white;
$navbar-default-link-active-color: white;
$navbar-default-link-hover-color: white;

$dropdown-link-color: #333333;
$dropdown-link-active-color: white;
$dropdown-link-hover-color: white;
$dropdown-link-hover-bg: #0088cc;
