.editor.ace_editor {
  position: relative;
  height: 360px;
  width: 100%;

  .ace_invisible {
    color: #575757;
  }
}

.navbar-full-width {
  width: 100%;
}

.navbar-nav.navbar-right.navbar-editor {
  margin-right: 0;

  li {
    padding-right: 5px;
  }
}

.editor-container.fullscreen {
  height: 82vh !important;
  .navbar-editor {
    margin: 0;
  }

  .clearfix {
    display: none;
  }

  .editor {
    height: 100%;
  }
}

span#preview_host_selector a.select2-choice {
  height: 22px;
  line-height: 1.2;
}
