#review_before_build {
  #build_form {
    padding: 0px;
    border: none;
    .modal-footer {
      border-top: none;
      padding: 0px;
    }
  }
  .list-group {
    float: left;
    clear: both;
    width: 100%;
    .list-group-item {
      background: transparent;
      border: none;
      font-size: 90%;
      width: 90%;
    }
  }

  .build_state {
    max-height: 400px;
    overflow: auto;
  }

  .loading {
    display: none;
    width: 100%;
    text-align: center;
    &.visible {
      display: block;
      img {
        width: 22px;
      }
    }
  }
}

.lookup_key_row {
  &.overridden {
    display: none;
  }
}

.lookup_key_override_row {
  display: none;
  background: #eee;
  &.visible {
    display: table-row;
  }
  .overriding-value {
    width: 75%;
  }
  label {
    font-weight: normal;
  }
  .btn-sm {
    margin-top: -4px;
  }
}

.push-down {
  margin-bottom: 10px;
}
