@import "mixin";
@import "colors";

.login-page {
  height: 100%;
}
@media (min-width: 768px){
.login-page #brand {
  position: relative;
  top: -52px;
}
}
.login-page #brand img {
  display: block;
  height: 84px;
  margin: 0;
  max-width: 100%;
}
@media (min-width: 768px) {
  .login-page #brand img {
    text-align: left;
  }
}
.login-page {
  background: $primary_color;
  background-size: auto;
  color: #fff;
}
@media (min-width: 768px) {
  .login-page {
    background-size: 100% auto;
  }
}
.login-page .container {
  background-color: rgba(0, 0, 0, 0.3);
  clear: right;
  padding-bottom: 40px;
  width: auto;
}
@media (min-width: 768px) {
  .login-page .container {
    bottom: 13%;
    padding-left: 80px;
    position: absolute;
    width: 100%;
  }
}
.login-page .container .details p:first-child {
  border-top: 1px solid #474747;
  padding-top: 25px;
  margin-top: 25px;
}
@media (min-width: 768px) {
  .login-page .container .details {
    border-left: 1px solid #474747;
    padding-left: 40px;
  }
  .login-page .container .details p:first-child {
    border-top: 0;
    padding-top: 0;
    margin-top: 0;
  }
}
.login-page .container .details p {
  margin-bottom: 2px;
}
.login-page .container .form-horizontal .control-label {
  font-size: 12px;
  font-weight: 400;
  text-align: left;
}
.login-page .container .form-horizontal .form-group:last-child,
.login-page .container .form-horizontal .form-group:last-child .help-block:last-child {
  margin-bottom: 0;
}
.login-page .container .help-block {
  color: #fff;
}
@media (min-width: 768px) {
  .login-page .container .login {
    padding-right: 40px;
  }
}
.login-page .container .submit {
  text-align: right;
}

