.login-container{
  position: relative;
  width: 500px;
  height: 265px;
  margin: 150px auto;
  padding: 10px;
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, rgba(255, 255, 255, 0)), color-stop(120%, #d9d9d9));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 40%, #d9d9d9 120%);
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 40%, #d9d9d9 120%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0) 40%, #d9d9d9 120%);
  background-image: linear-gradient(top, rgba(255, 255, 255, 0) 40%, #d9d9d9 120%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#d9d9d9');
  -webkit-box-shadow: #acacac 0px 12px 15px -8px;
  -moz-box-shadow: #acacac 0px 12px 15px -8px;
  box-shadow: #acacac 0px 12px 15px -8px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;

  & .aside {
    width: 140px;
    height: 265px;
    float: left;
    background: #006289;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #006289), color-stop(40%, #006289), color-stop(100%, #005b7e));
    background: -webkit-linear-gradient(top, #006289 0%, #006289 40%, #005b7e 100%);
    background: -moz-linear-gradient(top, #006289 0%, #006289 40%, #005b7e 100%);
    background: -o-linear-gradient(top, #006289 0%, #006289 40%, #005b7e 100%);
    background: linear-gradient(top, #006289 0%, #006289 40%, #005b7e 100%);
    -webkit-border-radius: 7px 0 0 7px;
    -moz-border-radius: 7px 0 0 7px;
    -ms-border-radius: 7px 0 0 7px;
    -o-border-radius: 7px 0 0 7px;
    border-radius: 7px 0 0 7px;
  }
  & .section {
    width: 360px;
    position: relative;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 265px;
    height: 265px;
    width: 360px;
    background: #FFF;
    padding: 0 30px;
    -webkit-border-radius: 0 7px 7px 0;
    -moz-border-radius: 0 7px 7px 0;
    -ms-border-radius: 0 7px 7px 0;
    -o-border-radius: 0 7px 7px 0;
    border-radius: 0 7px 7px 0;
    -webkit-box-shadow: inset -15px -15px 30px -7px #d9d9d9, inset 0px -15px 130px #d9d9d9;
    -moz-box-shadow: inset -15px -15px 30px -7px #d9d9d9, inset 0px -15px 130px #d9d9d9;
    box-shadow: inset -15px -15px 30px -7px #d9d9d9, inset 0px -15px 130px #d9d9d9;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#88d9d9d9,endColorstr=#33d9d9d9);
  }
}
#login-form{
  margin: 40px 0 0 0;
  height: 265px;
  font-family: Overpass !important;
  & .btn{
    margin-right: 16px;
  }
}


.login-logo{
  margin-top: 88.33333px;
  width: 130px;
  margin-left: 5px;
}

