.matcher-field-changed {
  background: rgba(251, 234, 188, 0.55);
}

.matcher-value-cell {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .input-group {
    flex-grow: 2;
    padding-right: 3px;
  }
}

a.warn-field-changed {
  position: relative;
  opacity: 0;
  cursor: default;
  z-index: -1;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  };
}

a.warn-field-changed.warn-show {
  opacity: 1;
  cursor: pointer;
  z-index: 2;
}
