@mixin box-shadow($shadow...) {
  -webkit-box-shadow: $shadow; // iOS <4.3 & Android <4.1
  box-shadow: $shadow;
}

@mixin linear_gradient($start_color, $end_color) {
  background: $start_color; /* fallback for older browsers */
  background: -webkit-linear-gradient(top, $start_color 0%,$end_color 100%);
  background: linear-gradient(to bottom, $start_color 0%,$end_color 100%);
}
