.navbar {
  .nav a {
    font-size: 13px;
  }

  .nav > li > a {
    font-size: 14px;
  }

  #account_menu {
    font-size: 11px;
  }

  .active > a,
  .open > a {
    background: linear-gradient(to bottom, $hover_gradient_start, $hover_gradient_end);
  }

  .org-switcher > a {
    font-size: 14px;
    //border-right: solid 1px $border_color;
    .caret {
      margin-left: 10px;
    }
  }
}

.navbar-brand {
  display: flex;
  padding: 0;
  height: inherit;

  a {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }
}

.dropdown .caret {
  margin-left: 4px;
}

.notifification-dropdown {
  padding: 21px 12px !important;
}

.org-switcher {
  @media (max-width: 768px) {
    display: none !important;
  }
}

.navbar-brand-text {
  padding-left: 5px;
  margin-top: 7px !important;
}

.navbar-pf-vertical {
  background: image-url('navbar.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 60px;
}

.navbar-left {
  padding-left: 15px;
}

.drawer-pf-trigger {
  padding-top: 15px;
}
