@import './colors.scss';

.navbar {
  .nav a {
    font-size: 13px;
  }

  .user-icon {
    margin-right: 10px;
  }

  .active > a,
  .open > a {
    background: linear-gradient(
      to bottom,
      $hover_gradient_start,
      $hover_gradient_end
    );
  }

  .nav > li > a {
    font-size: 14px;
  }
}

.pf-c-page__header-brand {
  padding-right: 15px;

  .pf-c-page__header-brand-link {
    &:hover {
      text-decoration: none;
    }

    .pf-c-brand {
      height: 34px;
    }
  }

  .navbar-brand-txt span {
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  }
}

.pf-c-page__header {
  background: var(--pf-c-page__header--BackgroundColor) image-url('navbar.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 60px;
  min-height: 60px;

  .pf-c-toolbar__item {
    .pf-c-context-selector__menu {
      top: auto;
    }

    .pf-c-context-selector {
      &.pf-m-expanded,
      &:hover {
        background: rgba(255, 255, 255, 0.24);
      }
    }

    .pf-c-context-selector__toggle::before {
      border-width: 0;
    }
  }
}

.pf-c-nav {
  .nav-title-icon {
    pointer-events: none;
    padding-right: 10px;
  }

  .nav-title {
    pointer-events: none;
  }
  .pf-c-nav__item.pf-m-flyout:hover {
    border-bottom-width: var(--pf-c-nav__link--before--BorderBottomWidth);
  }
  .pf-c-nav__item .pf-c-nav__link::before {
    z-index: 1; //to show dividers
    border-bottom-width: var(--pf-c-nav__link--before--BorderBottomWidth);
  }
  .pf-c-nav__item.pf-m-flyout.open-flyout .pf-c-nav__link:not(.pf-m-current){
    background-color: $nav-pf-vertical-hover-bg-color;
  }
}

.pf-c-menu.pf-m-flyout {
  .pf-c-menu__group-title {
    font-size: var(--pf-global--FontSize--lg);
  }
  .pf-c-divider {
    height: 1px;
  }

  .flyout-open {
    background-color: $nav-pf-vertical-active-bg-color;
  }
}
