.proxy-show {
  .nav {
    margin-bottom: 0;
  }

  .tab-pane .nav {
    clear: both;
  }

  .proxy-content {
    padding: 0 20px 20px;
    border: 1px solid #ddd;
    border-radius: 2px;
    border-top: 0;
    display: inline-block;
    width: 100%;
  }

  .tab-content {
    min-height: 0;
  }

  .datatable-filter {
    min-width: 150px;
  }

  .statistics-pie.small {
    width: 90%;
  }

  .nav-tabs-pf {
    margin-bottom: 20px;
    font-size: 12px;
  }

  #autosignModal {
    margin-top: 200px;
  }

  .container-cards-pf {
    clear: both;
  }
}
