@import "colors";

.navbar {
  border-radius: 0;
  margin-bottom: 0;

  .nav a {
    font-size: 13px;
  }

  .nav > li > a {
    font-size: 14px;
  }

  .navbar-header-menu > li  {
    padding-left: 1em;
  }

  #account_menu {
    font-size: 11px;
  }

  .active > a, .open > a {
    background: linear-gradient(to bottom, $hover_gradient_start, $hover_gradient_end);
  }

  .org-switcher > a {
    font-size: 14px;
    border-right: solid 1px $border_color;

    .caret {
      margin-left: 20px;
    }
  }
}

.user-dropdown-container {
  float: right;
  height: 38px;
  display: flex;
  align-items: center;
}
.navbar-left-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .org-switcher {
    > a {
      color: #fff;
      font-size: 11px;
    }
  }

  li {
    list-style-type: none;

  }
  .logo-container {
    display: flex;
    padding: 0;
    width: 200px;
    align-items: center;
    list-style-type: none;
    padding-left: 20px;
    img {
      height: 34px;
    }

    a {
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px;

      &:hover {
        color: white;
        text-decoration: none;
      }
    }

  }

}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: $navbar-default-link-active-color;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .open > a:focus{
  color: $navbar-default-link-hover-color
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > .open > a {
  color: $navbar-default-link-color;
}

.navbar-outer {
  background-color: $primary_color;
  border-color: darken($primary_color, 5%);
  min-height: 0;
  height: 38px;
  z-index: 1000;
  padding: 20px 0px;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:before,
  &:after {
    display: none;
  }
  .navbar-brand a,
  .navbar-right a {
    vertical-align: middle;
  }

  .navbar-right {
    float: right;
    margin: 0;

    .dropdown > a {
      padding: 0.25em 0 0 0;
    }

    .dropdown-menu {
      margin-top: 0;
      min-width: 100px;
    }

    a {
      font-size: 11px;
    }
  }
}

.navbar-inner {
  clear: both;
  left: 0;
  min-height: 40px;
  position: static;
  right: 0;
  top: 0;
  padding: 0 40px;
  .menu_tab_dropdown > a {
    padding-top: 10px;
    padding-bottom: 9px;
  }

  a.manage-menu {
    font-size: 11px;
    color: #0088cc;

    &:hover,
    &:focus {
      color: #ffffff;
    }
  }

  .glyphicon {
    color: #cccccc;
  }
}

.dropdown .caret {
  margin-left: 4px;
}

.nav-header {
  padding: 3px 10px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #999999;
  text-transform: uppercase;
  white-space: nowrap;
}

.navbar-collapse.in{
  background: linear-gradient(to bottom, $primary_gradient_start, $primary_gradient_end);

  margin-bottom: 0;
  margin-top: 0;
  max-height: none;
  padding: 0;
  position: relative;
  z-index: 2;

  .container {
    width: 100%;
  }

  .open {
    background-color: transparent;
  }

  // Responsive menu display
  li .dropdown-menu:after {
    display: none;
  }
}

// Necessary to override bootstrap3 media query restyling for small screens
#userMenu .dropdown-menu {
  @import "bootstrap/variables";

  background-color: $dropdown-bg;
  border: 1px solid $dropdown-fallback-border; // IE8 fallback
  border: 1px solid $dropdown-border;
  position: absolute;

  li > a {
    color: $dropdown-link-color;
    font-size: 14px;

    &:hover,
    &:focus {
      color: $dropdown-link-hover-color;
      background-color: $dropdown-link-hover-bg;
    }
  }
}

.navbar-default button.navbar-toggle {
  border: 0;
  border-radius: 0;
  margin: 9px;
  padding: 0;

  &:hover,
  &:focus {
    background-color: transparent;
  }

  .glyphicon {
    top: 0;
  }
}
