@import "colors";

.table-two-pane {
  tbody tr {
    td.active {
      background-color: $primary_gradient_start;

      a {
        color: #fff;
      }
    }
  }
}

.two-pane-right {
  .spinner-placeholder {
    top: 50%;
    left: 45%;
  }

  .well {
    padding: 19px;
    min-height: 460px;
    margin-bottom: 0;
    margin-left: -41px;
    background-color: #fff;
    border: 1px solid $primary_gradient_start;
    border-radius: 0;
    box-shadow: -2px 0 5px 0 rgba(0, 0, 0, 0.2);
  }

  .tab-pane {
    min-height: 300px;
  }

  .tab-content {
    margin: 15px;
  }

  .close-button a {
    font-size: 16px;
    font-weight: bold;
    color: #ccc;
    text-decoration: none;
  }

  .select-all {
    background-color: #f9f9f9;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    line-height: 28px;
    padding: 5px 20px 5px 0;
    text-indent: 10px;
    color: #333;

    &:hover {
      text-decoration: none;
    }
  }

  .two-pane-close {
    cursor: pointer;
  }
}
