@import "mixin";
@import "colors";

.table-two-pane{
  tbody tr{
    &:hover>td,
    &:hover>th
    {
      background-color: #f5f5f5;
    }
    td.active{
      background-color: $primary_gradient_start;
      a { color: #ffffff; }
    }
  }
}

.two-pane-right{
  .well{
    padding: 19px;
    min-height: 460px;
    margin-bottom: 0;
    margin-left: -31px;
    background-color: #ffffff;
    border: 1px solid $primary_gradient_start;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    @include box-shadow(-2px 0 5px 0px rgba(0, 0, 0, 0.2));
  }
  .tab-pane{
    min-height: 300px;
  }
  .tab-content {
    margin: 15px;
  }
  .close-button a{
    font-size: 16px;
    font-weight: bold;
    color: #cccccc;
    text-decoration: none;
  }

  .select-all{
    background-color: #f9f9f9;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    line-height: 28px;
    padding: 5px 20px 5px 0;
    text-indent: 10px;
    color: #333333;
    &:hover{
      text-decoration: none;
    }
  }
}
