#audit_summary_query_builder {
  display: block;
  top: -14px;
  left: 20%;
}

#audit_summary_query_builder:before {
  content: "";
  padding: 15px;
  border: 1px solid #ccc;
  border-width: 0 0 1px 1px;
  border-radius: 0 0 0 10px;
  position: absolute;
  left: -15px;
  top: -11px;
}

.mail_notification_query {
  margin: 8px;
  .audit_summary_query_setting {
    cursor: pointer;
    font-size: 10px;
  }
}

.list-group{
  max-height: 200px;
  overflow-y:scroll;
}
