<% title _("Report Templates") %>

<% title_actions new_link(_("Create Template")),
                 documentation_button('4.11Reports')
%>

<div id="report_templates_table"></div>
<%= mount_react_component("ReportTemplatesTable", "#report_templates_table") %>
<%= will_paginate_with_info @templates %>
