@import '../../../common/colors';

#breadcrumb-switcher-popover {
  z-index: 1000 !important;

  .popover-content {
    padding-left: 0;
    padding-right: 0;
    max-height: $switcher-max-height;
    overflow: hidden;
    max-width: $switcher-max-width;
    min-width: $switcher-max-width;

    .fa-spinner {
      margin-top: 12px;
    }

    .breadcrumb-switcher-popover-error {
      text-indent: 10px;
      color: #f00;
    }

    .list-group-item {
      padding: 5px 3px;
      text-indent: 10px;

      &:hover {
        color: #fff;
        background-color: #0089c7;
      }

      &.active {
        background-color: #0089c7;
      }
    }

    .no-border {
      border: none;
    }

    .pager {
      margin: 10px 13px;

      a {
        width: 22px;
      }

      .fa {
        margin-left: -2px;
      }
    }

    .scrollable-list {
      margin-top: 5px;

      &.list-group {
        border-top: 0;
      }
    }
  }
}

