.breadcrumbs-pf-title .active span {
  display: inline-flex;
  max-width: 50%;
}

.breadcrumbs-pf-title li.breadcrumb-item-with-icon span {
  vertical-align: middle;

  img {
    align-self: center;
  }
}
