label.safemode-rendering-checkbox {
  font-size: 14px;
  font-weight: var(--pf-global--link--FontWeight);
  margin: 5px;
  cursor: pointer;
}

input#safemode-rendering-checkbox {
  margin: 10px 5px 10px 0;
}
