$img-path: '~patternfly/dist/img/';
$font-path: '~patternfly/dist/fonts/';
$icon-font-path: '~patternfly/dist/fonts/';

@import '~patternfly/dist/sass/patternfly';
@import '~@theforeman/vendor-dev/scss/vendor-dev';
@import './docs/markdown.scss';
