$img-path: '~patternfly/dist/img/';
$font-path: '~patternfly/dist/fonts/';
$icon-font-path: '~patternfly/dist/fonts/';

@import '~patternfly/dist/sass/patternfly';
@import '~patternfly-react/dist/sass/patternfly-react';
