.text {
  table {
    padding: 0;

    tr {
      border-top: 1px solid #ccc;
      background-color: white;
      margin: 0;
      padding: 0;

      th {
        font-weight: bold;
        border: 1px solid #ccc;
        text-align: left;
        margin: 0;
        padding: 6px 13px;
      }

      td {
        border: 1px solid #ccc;
        text-align: left;
        margin: 0;
        padding: 6px 13px;
      }

      th :first-child,
      td :first-child {
        margin-top: 0;
      }

      th :last-child,
      td :last-child {
        margin-bottom: 0;
      }
    }

    tr:nth-child(2n) {
      background-color: #f8f8f8;
    }
  }
}
