@import '../../common/colors.scss';

.container {
  max-width: none !important;
}

.warning-icon {
  margin-right: 3px;
  color: $pf-gold-400;
}

.error-icon {
  margin-right: 3px;
  color: $pf-red-100;
}
