<div class="alert alert-message alert-block alert-error base in fade">
  <h2><%= _("Permission denied") %></h2>

  <p><strong><%= _("You are not authorized to perform this action") %></strong></p>
  <p><%= _("Please request the required privileges from a foreman administrator") %></p>
  <div class="alert-actions">
    <%= link_to _("Back"), root_path, :class => "btn" %>
  </div>
</div>
