<div class="alert-message block-message error">
  <h2>Permission denied</h2>

  <p><strong>You are not authorised to perform this action</strong></p>
  <p>Please request the required privileges from a foreman administrator</p>
  <div class="alert-actions">
    <%= link_to "Back", root_path, :class => "btn btn-small" %>
  </div>
</div>
