<div class='col-md-offset-4 col-md-4'>
  <%= alert :header => _("Permission denied"),
    :text => _("You are not authorized to perform this action.") + "</br>".html_safe +
             _("Please request the required privileges from a foreman administrator."),
    :actions => link_to(_('Back'), main_app.root_path, :class => 'btn btn-default'),
    :class => 'alert-danger' %>
</div>
