<div class="alert alert-message alert-block alert-warning base in fade">
  <h1><%= controller_name.camelize.singularize rescue nil %> Not Found</h1>

  <p>Please try to update your request</p>
  <div class="alert-actions">
    <%= link_to "Back", root_path, :class => "btn" %>
  </div>
</div>
