<% title "We're sorry, but something went wrong" %>

<div id="errorExplanation", class="error-messages">
  <ul> The following error message was observed:
    <li> <%= exception.message %> </li>
  </ul>
</div>

<p> If you feel this is an error with Foreman itself, please open a new issue with <a href=http://theforeman.org/projects/foreman/issues>Foreman ticketing system</a></p>

<p><%= link_to "Back", root_path %></p>
