<div class="col-xs-12 col-sm-3 col-md-2">
  <div class="card-pf card-pf-view card-pf-view-xs card-pf-view-select card-pf-view-single-select">
    <div class="card-pf-body">
      <h2 class="card-pf-title text-center">
        <%= title %>
      </h2>
      <div class="card-pf-items text-center">
        <div class="card-pf-item">
          <span class="pficon pficon-users"></span>
          <span class="card-pf-item-text"><%= link_to_if_authorized(name, options, html_options) %></span>
        </div>
      </div>
    </div>
  </div>
</div>
