<%= fields_for item do |f| %>
  <%= select_f f, :domain_id, accessible_domains, :id, :to_label, {:include_blank => true},
    {:onchange => 'domain_selected(this);'} %>

  <span id="subnet_select">
    <%= render 'common/domain', :item => item %>
  </span>
<% end  -%>
