<div class="tabular">
  <% for association in associations -%>
    <% content_tag_for :label, association, :class=>"floating" do %>
      <%= check_box_tag(
        "#{klass.class.table_name.singularize}[#{association.class.to_s.downcase}_ids][]",
        association.id, klass.send(association.class.table_name).map(&:id).include?(association.id))
      %>
      <%= contract association %>
      <%= hidden_field_tag "#{klass.class.table_name.singularize}[#{association.class.to_s.downcase}_ids][]" %>
    <% end -%>
  <% end -%>
</div>
