<div class="box tabular">
  <% for association in associations -%>
    <% content_tag_for :label, association, :class=>"floating" do %>
      <%= check_box_tag(
        "#{klass.class.to_s.downcase}[#{association.class.to_s.downcase}_ids][]",
          association.id, klass.send(association.class.table_name).to_a.include?(association))
      %>
      <%= contract association %>
      <%= hidden_field_tag "#{klass.class.to_s.downcase}[#{association.class.to_s.downcase}_ids][]" %>
    <% end -%>
  <% end -%>
</div>
