<div id="foreman_filter_autocomplete"></div>
  <%=mount_react_component('ComponentWrapper', "#foreman_filter_autocomplete", {
    component: 'FormAutocomplete',
    componentProps: props
  }.to_json) %>
