<div id='pagination'></div>
  <%= mount_react_component('Pagination', '#pagination', {
      :viewType => 'table',
      :classNames => options,
      :itemCount => collection.total_entries,
      }.to_json) %>
