<table class="list zebra-striped" border=1>
  <tr>
    <th>Level</th><th>Resource</th><th>message</th>
  </tr>
  <% logs.each do |log| -%>
    <% if logs_filter(log.level) -%>
      <tr>
        <td><span <%= report_tag log.level %>><%= h log.level %></span></td>
        <td><%= h log.source %></td>
        <td><%= h log.message %></td>
      </tr>
    <% end -%>
  <% end -%>
</table>
