<table class="list" border=1>
  <caption>Puppet Output</caption>
  <th>Level</th><th>Resource</th><th>message</th>
  <% logs.each do |log| -%>
    <tr class="<%= cycle("even", "odd") -%>">
      <td><%= h log.level %></td>
      <td><%= h log.source %></td>
      <td><%= h log.message %></td>
    </tr>
  <% end -%>
</table>
