<% title "Puppet Reports" %>
<div id="welcome">
  <p>
  You don't seem to have any reports, if you wish to configure Puppet to forward it reports to Foreman, please follow <%= link_to "setting up reporting", "http://www.theforeman.org/manuals/1.1/index.html#3.5.2ConfigurationOptions", :rel => "external" %> and <%= link_to "Email reporting", "href=http://www.theforeman.org/manuals/1.1/index.html#3.5.4PuppetReports", :rel => "external" %>.
  </p>

  <p>This page will self destruct once a report comes in.</p>
</div>
