<div id="welcome">
  <h1>Puppet Reports</h1>
  <p>
  You don't seem to have any reports, if you wish to configure Puppet to forward it reports to Foreman, please follow <%= link_to "setting up reporting", "http://theforeman.org/projects/foreman/wiki/Puppet_Reports" %> and <%= link_to "Email reporting", "http://theforeman.org/projects/foreman/wiki/Mail_Notifications" %>.
  </p>

  <p>This page will self destruct once a report comes in.</p>
</div>
