.interface-accordion {
  .interface-name svg {
    margin-left: 5px;
  }
  .pf-l-grid__item {
    text-align: left;
    white-space: pre-wrap;
  }
  .pf-c-accordion__toggle-text {
    width: 100%;
  }
}
.nic-empty-state{
  padding-left: 16px;
}
