<% Puppetclass.classes2hash(puppetclasses).sort.in_groups(3,nil) do |group| -%>
  <td id="classes">
    <% group.each do |list| -%>
      <% next if list.nil? %>
      <li title="Click to expand module class list"><%= link_to_function image_tag("application_cascade.png") + " " + list.first, toggle_div(list.first) %></li>
      <div id="<%= list.first %>" style="display: none;">
        <% for klass in list.last.sort -%>
          <% content_tag_for :div, klass, :title => "Click to add #{klass}" do %>
            <%= link_to_add_puppetclass(klass, type) + " " + klass.klass %>
          <% end -%>
        <% end -%>
      </div>
    <% end -%>
  </td>
<% end -%>
