<% field_set_tag 'Puppet classes' do -%>
  <table>
    <tr>
      <th>Included classes</th>
      <th colspan="3">Available classes</th>
    </tr>
    <tr>
      <td id="hostclasses">
        <div id="selected_classes">
          <%# hidden field to ensure that classes gets removed if none are defined -%>
          <%= hidden_field_tag obj.class.to_s.downcase + "[puppetclass_ids][]" %>
          <%= render :partial => "puppetclasses/selectedClasses",
            :collection => obj.puppetclasses ,:as => :klass,
            :locals => { :type => obj.class.to_s.downcase } %>
        </div>
        <% if (klasses = obj.hostgroup.try(:puppetclasses)).is_a?(Array) and obj.is_a?(Host) -%>
          <% for klass in klasses.sort -%>
            <li title="included already from host group"><%= h klass.name %></li>
          <% end -%>
        <% end -%>
      </td>

      <% if @environment -%>
        <%= render :partial => "puppetclasses/classes",
          :locals => ({:puppetclasses => (obj.is_a?(Host) ? @environment.puppetclasses : Puppetclass.all) - obj.all_puppetclasses,
            :type          => obj.class.to_s.downcase })
        %>
      <% else -%>
        <td>No environment selected</td>
      <% end -%>
    </tr>
  </table>
<% end -%>
