<% Puppetclass.classes2hash(puppetclasses).sort.in_groups(3,nil) do |group| -%>
  <div class="span4 classes">
    <% group.each do |list| -%>
      <% next if list.nil? %>
      <ul>
        <li><%= link_to_function image_tag("bullet_toggle_plus.png") + " " + list.first, "$('#pc_#{list.first}').fadeToggle('slow')" %>
          <ul id="pc_<%= list.first %>" style="display: none;">
            <% for klass in list.last.sort -%>
              <% style = selected_puppet_classes.include?(klass) ? "hide" : "#{cycle('even', 'odd')}" %>
              <%= content_tag_for :li, klass, :class=> style do %>
                <%= link_to_add_puppetclass(klass, type) %>
              <% end -%>
            <% end -%>
          </ul>
        </li>
      </ul>
    <% end -%>
  </div>
<% end -%>
