<div id="errorExplanation" class="errorExplanation">
  <h2>Error!</h2>
  <p>
  Either that you didnt generate the puppetdoc (see <a href=http://theforeman.org/projects/foreman/wiki/Puppet_class_browser>here</a>) or
  The class <strong><%= name -%></strong> could not be found in environment <strong><%= environment -%></strong><br>
  Please ensure that the class <strong><%= name -%></strong>'s declaration is accessible via the modulepath associated with <strong><%= environment -%></strong>.
  </p>
</div>
