@import '~@theforeman/vendor/scss/variables';
@import '../../common/colors.scss';
@import '../../common/variables.scss';

// .pf-c-page {
//   background-color: rgba(0, 0, 0, 0);
// }

#react-app-root {
  .react-container.container-fluid {
    margin-right: auto;
    margin-left: 250px;
  }
}
.collapsed-nav {
  #react-app-root {
    main.pf-c-page__main {
      padding-left: 0;
    }
  }
}

#rails-app-content {
  margin-left: 250px;
}
@media only screen and (max-width: $pf-global--breakpoint--md) {
  #react-app-root .react-container,
  #rails-app-content {
    margin-left: 0;
  }
}

#vertical-spinner {
  margin-top: 15px;
  margin-left: 5px;
}

.collapsed-nav {
  @media only screen and (max-width: $pf-global--breakpoint--md) {
    #react-app-root .react-container,
    #rails-app-content {
      margin-left: 0;
    }
  }
}
#page-sidebar {
  position: fixed;
  bottom: 0;
  top: 60px;
  .pf-c-nav__item.hidden-nav-lg {
    display: none;

    @media (max-width: $pf-global--breakpoint--lg) {
      display: block;
    }
  }
}

.pf-c-nav {
  .nav-title-icon {
    pointer-events: none;
    padding-right: 10px;
  }

  .nav-title {
    pointer-events: none;
  }

  .pf-c-nav__item .pf-c-nav__link::before {
    z-index: 1; //to show dividers
  }
}

.pf-c-menu.pf-m-flyout {
  .pf-c-menu__group-title {
    font-size: var(--pf-global--FontSize--lg);
  }
  .pf-c-divider {
    height: 1px;
  }
}
