@import '~@theforeman/vendor/scss/variables';
@import '../../common/colors.scss';
@import '../../common/variables.scss';

.secondary-nav-item-pf > .nav-pf-secondary-nav {
  background-color: $nav-pf-vertical-active-bg-color;

  .mobile-active {
    // Mark active Location/Org in Mobile view
    a {
      .list-group-item-value {
        background-color: $nav-pf-vertical-secondary-active-bg-color;
      }
    }
  }

  .list-group-item {
    a {
      background-color: $nav-pf-vertical-active-bg-color;

      &:hover {
        .list-group-item-value {
          background-color: $nav-pf-vertical-secondary-active-bg-color;
        }
      }
    }

    span {
      color: $nav-pf-vertical-active-icon-color;
    }
  }
}

#react-app-root {
  .react-container {
    margin-right: auto;
    padding: 24px 24px 0 24px;

    section {
      margin-top: -20px;
    }
  }

  .nav-pf-vertical {
    background-color: $nav-pf-vertical-secondary-active-bg-color;

    .list-group {
      .list-group-item {
        a {
          span {
            color: $nav-pf-vertical-icon-color;
          }

          &:hover {
            background-color: $nav-pf-vertical-active-bg-color;

            span {
              color: $nav-pf-vertical-active-icon-color;
            }
          }

          &::after {
            color: $nav-pf-vertical-icon-color;
          }
        }

        &:hover {
          a {
            background-color: $nav-pf-vertical-active-bg-color;

            span {
              color: $nav-pf-vertical-active-icon-color;
            }
          }
        }

        &.active {
          a {
            background-color: $nav-pf-vertical-active-bg-color;

            span {
              color: $nav-pf-vertical-active-icon-color;
            }
          }
        }
      }
    }
  }

  .secondary-nav-item-pf.hidden-nav-lg {
    display: none;

    @media (max-width: $header-max-width) {
      display: block;
    }
  }
}

/*
  patternfly-sass hides the vertical-nav on smaller screens, see: https://github.com/patternfly/patternfly-sass/blob/5e7cce3445d5b1af1e16500695b9f33edc6a4f6c/assets/javascripts/patternfly-functions.js#L260
  the react-container needs to be shifted when it happens.
*/
@media only screen and (max-width: $pf-global--breakpoint--md) {
  #react-app-root .react-container,
  #rails-app-content {
    margin-left: 0;
  }
}

#account_menu {
  outline: none;
}

#vertical-spinner {
  margin-top: 15px;
  margin-left: 5px;
}

.navbar-header {
  width: 42px;
}

#navbar-header {
  left: 42px;
}

#data-toolbar {
  padding: 0;
  background-color: transparent;
}

.pf-c-page {
  background-color: rgba(0, 0, 0, 0);
}

.collapsed-nav {
  #react-app-root .react-container,
  #rails-app-content {
    margin-left: 75px;
  }

  @media only screen and (max-width: $pf-global--breakpoint--md) {
    #react-app-root .react-container,
    #rails-app-content {
      margin-left: 0;
    }
  }
}
