@import '~@theforeman/vendor/scss/variables';
@import '../../common/colors.scss';
@import '../../common/variables.scss';

.pf-c-page {
  background-color: rgba(0, 0, 0, 0);
}

#react-app-root {
  .pf-c-page__main section {
    padding: 0 40px;
  }
}

/*
  patternfly-sass hides the vertical-nav on smaller screens, see: https://github.com/patternfly/patternfly-sass/blob/5e7cce3445d5b1af1e16500695b9f33edc6a4f6c/assets/javascripts/patternfly-functions.js#L260
  the react-container needs to be shifted when it happens.
*/
@media only screen and (max-width: $pf-global--breakpoint--md) {
  #react-app-root .react-container,
  #rails-app-content {
    margin-left: 0;
  }
}

#vertical-spinner {
  margin-top: 15px;
  margin-left: 5px;
}

.collapsed-nav {
  #react-app-root .react-container,
  #rails-app-content {
    margin-left: 75px;
  }

  @media only screen and (max-width: $pf-global--breakpoint--md) {
    #react-app-root .react-container,
    #rails-app-content {
      margin-left: 0;
    }
  }
}

#page-sidebar {
  .pf-c-nav__item.hidden-nav-lg {
    display: none;

    @media (max-width: $pf-global--breakpoint--lg) {
      display: block;
    }
  }
}
