.foreman-limited-text {
  max-width: 200px;
  margin: auto 0;
}

.foreman-limited-editable-text {
  max-width: 300px;
  margin: auto 0;
}

// Edit icon isn't in line with text
.foreman-edit-icon {
  padding-top: 2px;
}
